<div ng-controller="RegisterMatchCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Register new match
            </h1>
        </div>
    </div>  

    <div class="row">
        <div class="col-xs-12">
            Player A: <select ng-options="player as player for player in players" ng-model="playerA"></select>
            Score A: <select ng-options="n for n in [] | range:0:11" ng-model="scoreA"></select>
            Player B: <select ng-options="player as player for player in players" ng-model="playerB"></select>
            Score B: <select ng-options="n for n in [] | range:0:11" ng-model="scoreB"></select>
            <button type="button" ng-click="addMatch();">Add match</button>
        </div>
    </div>
    <!-- /.row -->

</div>
