<hr /><br />

<div id="login-form">
	<label>Username</label>
	<input id="username" type="text" value="public" />
	<label>Password</label>
	<input id="password" type="password" value="public" />
	<button id="log-in" type="button">Log in</button>
</div>

<span id="user-wrapper" class="hidden">
	User: <span id="logged-username"></span></label>
	<button id="log-out" type="button">Log out</button>
</span>

<script src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="<%= asset('js/authentication.js') %>"></script>