
.WhatWrapper {

	height: 350px;
	width: 100%;
	margin-bottom: 30px;
	
}

.WhatElement {

	width: 33%;
	float: left;

}

.WhatContent {
	
	width: 90%;
	margin-left: 2%;
	float: left;	

}

.GreyLine {

	width: 2px;
	height: 300px;
	float: left;
	background-color: #999999;
	margin-left: 5%;	

}

.Banner {

	background-color: #CCCCCC;
	border-radius: 10px;
	padding-left: 10px;
	line-height: 30px;
	width: 95%;
	-webkit-box-shadow: 0 0 5px #444;
	text-align: center;
	margin-bottom: 30px;

}

.GalleryBanner {

	margin-top: 40px;

}