.git/
.gitignore
node_modules/
*.log
.env
cypress
cypress.json
Dockerfile
.dockerignore
README.md

apps/*/.git/
apps/*/.gitignore
apps/*/node_modules/

apps/*/assets/
apps/*/features/
apps/*/LICENSE.md
apps/*/license.md
apps/*/README.md
apps/*/Readme.md
apps/*/readme.md
apps/*/todo.md

apps/*/src/

apps/*/commitlint.config.js
apps/*/cucumber.js
apps/*/tsconfig*
apps/*/tslint.json
apps/*/webpack.config.js

apps/jokify/client/
apps/jokify/server/

apps/react-personal-page/module-types.d.ts
apps/react-personal-page/webpack/
apps/react-personal-page/src-client/
apps/react-personal-page/src-server/

apps/sudoku-generator/algorithms
apps/sudoku-generator/examples

apps/vue-personal-page/config

apps/webjack/client/
apps/webjack/server/