[submodule "apps/skills-matrix-api-node"]
	path = apps/skills-matrix-api-node
	url = https://github.com/capelski/skills-matrix-api-node
	branch = master
[submodule "apps/angularjs-personal-page"]
	path = apps/angularjs-personal-page
	url = https://github.com/capelski/angularjs-personal-page
	branch = master
[submodule "apps/carniques-ausa"]
	path = apps/carniques-ausa
	url = https://github.com/capelski/carniques-ausa
	branch = master
[submodule "apps/desdecasa"]
	path = apps/desdecasa
	url = https://github.com/capelski/desdecasa
	branch = master
[submodule "apps/do-vic"]
	path = apps/do-vic
	url = https://github.com/capelski/do-vic
	branch = master
[submodule "apps/dragon-pong"]
	path = apps/dragon-pong
	url = https://github.com/capelski/dragon-pong
	branch = master
[submodule "apps/fractal-generator"]
	path = apps/fractal-generator
	url = https://github.com/capelski/fractal-generator
	branch = master
[submodule "apps/jokify"]
	path = apps/jokify
	url = https://github.com/capelski/jokify
	branch = master
[submodule "apps/php-personal-page"]
	path = apps/php-personal-page
	url = https://github.com/capelski/php-personal-page
	branch = master
[submodule "apps/poliester-pelegrina"]
	path = apps/poliester-pelegrina
	url = https://github.com/capelski/poliester-pelegrina
	branch = master
[submodule "apps/vrokil"]
	path = apps/vrokil
	url = https://github.com/capelski/vrokil
	branch = master
[submodule "apps/vue-personal-page"]
	path = apps/vue-personal-page
	url = https://github.com/capelski/vue-personal-page
	branch = master
[submodule "apps/skills-matrix-client-jquery"]
	path = apps/skills-matrix-client-jquery
	url = https://github.com/capelski/skills-matrix-client-jquery
	branch = master
[submodule "apps/michael"]
	path = apps/michael
	url = https://github.com/capelski/michael
[submodule "apps/webjack"]
	path = apps/webjack
	url = https://github.com/capelski/webjack
[submodule "apps/exquiseaty"]
	path = apps/exquiseaty
	url = https://github.com/capelski/exquiseaty
[submodule "apps/skills-matrix-api-graphql"]
	path = apps/skills-matrix-api-graphql
	url = https://github.com/capelski/skills-matrix-api-graphql
[submodule "apps/bachata-science"]
	path = apps/bachata-science
	url = https://github.com/capelski/bachata-science
[submodule "apps/jokify-api"]
	path = apps/jokify-api
	url = https://github.com/capelski/jokify-api
[submodule "apps/sudoku-generator"]
	path = apps/sudoku-generator
	url = https://github.com/capelski/sudoku-generator
[submodule "apps/react-personal-page"]
	path = apps/react-personal-page
	url = https://github.com/capelski/react-personal-page
