[submodule "apps/skills-matrix-api-node"]
	path = apps/skills-matrix-api-node
	url = https://github.com/L3bowski/skills-matrix-api-node
	branch = master
[submodule "apps/angularjs-personal-page"]
	path = apps/angularjs-personal-page
	url = https://github.com/L3bowski/angularjs-personal-page
	branch = master
[submodule "apps/carniques-ausa"]
	path = apps/carniques-ausa
	url = https://github.com/L3bowski/carniques-ausa
	branch = master
[submodule "apps/desdecasa"]
	path = apps/desdecasa
	url = https://github.com/L3bowski/desdecasa
	branch = master
[submodule "apps/do-vic"]
	path = apps/do-vic
	url = https://github.com/L3bowski/do-vic
	branch = master
[submodule "apps/dragon-pong"]
	path = apps/dragon-pong
	url = https://github.com/L3bowski/dragon-pong
	branch = master
[submodule "apps/fractal-generator"]
	path = apps/fractal-generator
	url = https://github.com/L3bowski/fractal-generator
	branch = master
[submodule "apps/jokify"]
	path = apps/jokify
	url = https://github.com/L3bowski/jokify
	branch = master
[submodule "apps/php-personal-page"]
	path = apps/php-personal-page
	url = https://github.com/L3bowski/php-personal-page
	branch = master
[submodule "apps/poliester-pelegrina"]
	path = apps/poliester-pelegrina
	url = https://github.com/L3bowski/poliester-pelegrina
	branch = master
[submodule "apps/responsive-do-vic"]
	path = apps/responsive-do-vic
	url = https://github.com/L3bowski/responsive-do-vic
	branch = master
[submodule "apps/vrokil"]
	path = apps/vrokil
	url = https://github.com/L3bowski/vrokil
	branch = master
[submodule "apps/vue-personal-page"]
	path = apps/vue-personal-page
	url = https://github.com/L3bowski/vue-personal-page
	branch = master
[submodule "apps/skills-matrix-client-jquery"]
	path = apps/skills-matrix-client-jquery
	url = https://github.com/L3bowski/skills-matrix-client-jquery
	branch = master
[submodule "apps/michael"]
	path = apps/michael
	url = https://github.com/L3bowski/michael
[submodule "apps/webjack"]
	path = apps/webjack
	url = https://github.com/L3bowski/webjack
