[submodule "apps/skills-matrix-api-node"]
	path = apps/skills-matrix-api-node
	url = https://github.com/L3bowski/skills-matrix-api-node
[submodule "apps/angularjs-personal-page"]
	path = apps/angularjs-personal-page
	url = https://github.com/L3bowski/angularjs-personal-page
[submodule "apps/carniques-ausa"]
	path = apps/carniques-ausa
	url = https://github.com/L3bowski/carniques-ausa
[submodule "apps/desdecasa"]
	path = apps/desdecasa
	url = https://github.com/L3bowski/desdecasa
[submodule "apps/do-vic"]
	path = apps/do-vic
	url = https://github.com/L3bowski/do-vic
[submodule "apps/dragon-pong"]
	path = apps/dragon-pong
	url = https://github.com/L3bowski/dragon-pong
