.navigation {
	display: none;
	height: auto;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

@media(min-width: 768px) {
	.navigation {
		display: table;
		height: 50px;
		padding-bottom: 0;
		width: auto;
	}
}

.navigation.opened {
	display: block;
}

.navigation-bar {
	clear: both;
	height: 50px;
	left:0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

.navigation-bar a,
.navigation-bar a.dropdown-item {
	display: block;
	padding-bottom: 14px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 14px;
	height: 50px;
}

@media(min-width: 768px) {
	.navigation-bar a {
		display: table-cell;
		padding-bottom: 0;
		padding-top: 0;
		vertical-align: middle;
	}
}

.navigation-bar .dropdown {
	display: block;
}

@media(min-width: 768px) {
	.navigation-bar .dropdown {
		display: table-cell;
	}
}

.navigation-bar .dropdown .dropdown-button {
	display: table;
	height: 50px;
	width: 100%;
}

@media(min-width: 768px) {
	.navigation-bar .dropdown .dropdown-button {
		width: auto;
	}
}

.navigation-bar .dropdown .dropdown-button a {
	display: table-cell;
	vertical-align: middle;
}

.navigation-bar .dropdown .dropdown-button .dropdown-arrow {
	display: inline-block;
	width: 0px;
	height: 0px;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.navigation-bar .dropdown .dropdown-list {
	display: none;
	position: static;
	top: 0;
}

@media(min-width: 768px) {
	.navigation-bar .dropdown .dropdown-list {
		position: absolute;
		top: 51px;
	}
}

.navigation-bar .icon-block {
	display: block;
	text-align: right;
	padding: 5px 0;
}

@media(min-width: 768px) {
	.navigation-bar .icon-block {
		display: table-cell;
		vertical-align: middle;
		padding: 0;
	}
}

.navigation-bar .icon-block a.navigation-icon {
	display: inline-block;
	height: 30px;
	margin: 0 2px;
	padding: 0;
	width: 30px;
}

@media(min-width: 768px) {
	.navigation-bar .icon-block a.navigation-icon {
		display: table-cell;
		height: 30px;
		margin: 0;
		padding: 3px;
		width: 30px;
	}
}

@media(min-width: 768px) {
	.navigation-left {
		float: left;
	}
}

@media(min-width: 768px) {
	.navigation-right {
		float: right;
	}
}

.navigation-small {
	clear: both;
	display:block;
	padding-left: 15px;
	padding-right: 15px;
	height: 50px;
}

@media(min-width: 768px) {
	.navigation-small {
		display:none;
	}
}

.navigation-small.opened {
	border-bottom: 1px solid #FFF;
}

.navigation-small #button {
	cursor: pointer;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	width: 35px;
}

.navigation-small #current-tab {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.navigation-small .tab-wrapper {
	display: table;
	height: 50px;
	padding-left: 10px;
	width: calc(100% - 35px);
}

/********************************** DEFAUlTS ****************************/

.navigation-bar,
.navigation-bar .container {
	background-color: black;
}

.dropdown .dropdown-list {
	min-width: 150px;
}

.dropdown .dropdown-list .dropdown-item {
	padding-left: 20px;
}

.navigation-bar a,
.navigation-bar a:hover,
.navigation-bar a:focus {
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.navigation-bar a,
.navigation-small #current-tab {
	font-size: 16px;
}

.navigation-small #button,
.navigation-small #current-tab {
	color: white;
}