.palette-bg-1 {
	background-color: #C1D4B1 !important;
}

.palette-bg-2 {
	background-color: #8ba697 !important;
}

.palette-bg-3 {
	background-color: #52576d !important;
}

.palette-bg-4 {
	background-color: #333755 !important;
}

.palette-text-1 {
	color: #C1D4B1;
}

.palette-text-2 {
	color: #8ba697;
}

.palette-text-3 {
	color: #52576d;
}

.palette-text-4 {
	color: #333755;
}