<div class="vertical-aligner">
	<div class="vertical-aligned">
		<div class="container spaced">
			<curriculum-section section="curriculum.AcademicTraining" image-url="ImagesUrls[0]"></curriculum-section>
			<curriculum-section section="curriculum.WorkExperience" image-url="ImagesUrls[2]"></curriculum-section>
			<div class="row m-top-15">
				<div class="col-sm-4 col-sm-offset-4 m-horizontal-20">
					<button class="button palette-bg-4 white-text" ng-click="downloadResume();">
						<i class="fa fa-cloud-download"></i>
						{{curriculum.Download}}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>