<!--<div class="floating-full-screen"> -->
	<div class="vertical-aligner">
		<div class="vertical-aligned">
			<div class="container spaced">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-offset-0 text-center white-text">
						<h1 class="home-title palette-text-4">CARLES CAPELLAS</h1>
						<h3 class="home-title palette-text-4 m-bottom-80" ng-bind-html="general.SoftwareEngineer | html"></h3>
						<h3 class="home-title palette-text-4">YOU CAN DO EVERYTHING YOU SET YOUR MIND TO</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- </div> -->