<table width="100%" height="242" border="0"><tr><td width="61%" height="238" align="left"><p align="justify">

	Bar situat al barri del remei amb àmplia terrassa exterior on serveixen tapes variades acompanyades de cervesess fresques

</p><p>&nbsp;</p><p><font color="#000000"><strong>Avantatges DesdeCasa:</strong> 

	20% en tots els productes i desgustació gratuïta de la tapa del dia
    
</font></p><p>&nbsp;</p><table width="91%" border="0"><tr><td width="57%"><p><strong>Adreça:</strong><font color="#000000"> 

	Pg. de la Generalitat 8

</font><a href="#nogo" onclick="MyWindow=window.open('/desdecasa/establishments/map?target=BarSolNou','Mapa','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=450,height=385,left=200,top=200'); return false;"><strong><font color="#FFFFFF"> &nbsp;&gt;&gt; Mapa</font></strong></a></p><p><strong>Telèfon:</strong><font color="#000000"> 

	933803915
    
</font></p><p><strong>Correu:</strong><font color="#000000">  

	diegogarcia-1981@hotmail.com
    
</font></p></td><td width="43%"><p><strong>Horari:</strong></p><p><font color="#000000"> 

	Dl-Dj: 07:00-23:00</font></p><p><font color="#000000">Dv-Ds: 07:00-24:00
    
</font></p></td></tr></table></td><td width="39%"><img src="<%= asset('images/establishments/BarSolNou.png') %>" alt="" width="350" height="230" align="right" /></td></tr></table>