<table width="100%" height="242" border="0"><tr><td width="61%" height="238" align="left"><p align="justify">

	Establiment cèntric de 3 plantes, amb futbolí, billar i sofàs. També disposa d'una àmplia terrassa. Serveixen tot tipus d'entrepans, pastes, xocolata, cafès i tot el que necessites per començar bé el dia o la tarda.

</p><p>&nbsp;</p><p><font color="#000000"><strong>Avantatges DesdeCasa:</strong> 

	Tallat + Mini Entrepà = 2,60€ / Cafè amb llet + Mini Entrepà = 2,70€  / Cafè amb llet + Croissant = 2,40€
    
</font></p><p>&nbsp;</p><table width="91%" border="0"><tr><td width="57%"><p><strong>Adreça:</strong><font color="#000000"> 

	C/ Gurb 10

</font><a href="#nogo" onclick="MyWindow=window.open('/desdecasa/establishments/map?target=BlancXocolata','Mapa','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=450,height=385,left=200,top=200'); return false;"><strong><font color="#FFFFFF"> &nbsp;&gt;&gt; Mapa</font></strong></a></p><p><strong>Telèfon:</strong><font color="#000000"> 

	622842858
    
</font></p><p><strong>Correu:</strong><font color="#000000">  

	Epakirrinronaldo_@hotmail.com
    
</font></p></td><td width="43%"><p><strong>Horari:</strong></p><p><font color="#000000"> 

	Dl-Dv: 08:45 - 13:00 / 15:00 - 21:00</font></p><p><font color="#000000">Ds: 08:30 - 21:00
        										
</font></p></td></tr></table></td><td width="39%"><img src="<%= asset('images/establishments/BlancXocolata.png') %>" alt="" width="350" height="230" align="right" /></td></tr></table>