<table width="100%" height="242" border="0"><tr><td width="61%" height="238" align="left"><p align="justify">&nbsp;

	</p>
        <p align="justify">Bar-Restaurant situat a l'Edifici del Sucre. Gaudireu d'una cuina d'elaboració pròpia i tradicional, amb entrepans i plats mimats al màxim, i amb productes frescos i de proximitat. Ofereix un menú diari, els dijous paelles al moment i esmorzars de forquilla els dissabtes. Disposa de 3 sales per àpats de grup, terrassa exterior i ampli aparcament. </p>
        <p>&nbsp;</p><p><font color="#000000"><strong>Avantatges DesdeCasa:</strong> 

	Cafè, tallat o infusió gratuït amb el menú diari.</font> / <font color="#000000"> 10% sobre el total de la consumició de dilluns a divendres de 17:00 - 20:00</font> / <font color="#000000">ESMORZAR EXPRÉS: Cafè, tallat o cafè amb llet + Donut = 2,45€</font> / <font color="#000000"> ESMORZAR POTENT: Entrepà fred + Refresc = 5,50€ (entrepà calent per 1€ més)</font> / <font color="#000000"> MIG PACK FEINER: Mig dinar + Cafè = 8,25€
    
</font></p><p>&nbsp;</p><table width="91%" border="0"><tr><td width="66%"><p><strong>Adreça:</strong><font color="#000000"> 

	C/ Raimón D'Abadal i Vinyals 5

</font><a href="#nogo" onclick="MyWindow=window.open('/desdecasa/establishments/map?target=CafeteriaSucre','Mapa','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=450,height=385,left=200,top=200'); return false;"><strong><font color="#FFFFFF"> &nbsp;&gt;&gt; Mapa</font></strong></a></p><p><strong>Telèfon:</strong><font color="#000000"> 

	938853259
    
</font></p><p><strong>Correu:</strong><font color="#000000">  

	cafeteria-bar.elsucre@hotmail.com
    
</font></p></td><td width="34%"><p><strong>Horari:</strong></p><p><font color="#000000"> 

	Dl-Dv: 08:00 - 20:00</font></p><p><font color="#000000">Ds: 08:00 - 15:00
    
</font></p></td></tr></table>
<p>&nbsp;</p></td><td width="39%"><img src="<%= asset('images/establishments/CafeteriaSucre.png') %>" alt="" width="350" height="230" align="right" /></td></tr></table>