<table width="100%" height="242" border="0"><tr><td width="61%" height="238" align="left"><p align="justify">

	Restaurant acollidor situat al centre, amb productes de primera qualitat i elaboració acurada. Ofereix un menú complet tant per dinars com per sopars.

</p><p>&nbsp;</p><p><font color="#000000"><strong>Avantatges DesdeCasa:</strong> 

	Copa de cava i plat de pernil ibèric gratuïts amb el menú dels dijous al vespre
    
</font></p><p>&nbsp;</p><table width="91%" border="0"><tr><td width="57%"><p><strong>Adreça:</strong><font color="#000000"> 

	C/ Sant Miquel del Sants 16

</font><a href="#nogo" onclick="MyWindow=window.open('/desdecasa/establishments/map?target=DOVic','Mapa','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=450,height=385,left=200,top=200'); return false;"><strong><font color="#FFFFFF"> &nbsp;&gt;&gt; Mapa</font></strong></a></p><p><strong>Telèfon:</strong><font color="#000000"> 

	938832396
    
</font></p><p><strong>Correu:</strong><font color="#000000">  

	tcruells@hotmail.com
    
</font></p></td><td width="43%"><p><strong>Horari:</strong></p><p><font color="#000000"> 

	Dc-Dg: 13:00 - 15:30</font></p><p><font color="#000000">Dj-Ds: 20:30 - 22:30
    
</font></p></td></tr></table></td><td width="39%"><img src="<%= asset('images/establishments/DOVic.png') %>" alt="" width="350" height="230" align="right" /></td></tr></table>