<table width="91%" border="0"><tr><td width="57%"><p><strong>Adreça:</strong><font color="#000000"> 

	Adreça
    										<!-- Esborrar comentari i canviar l'adreça del mapa -->
</font><a href="#nogo" onclick="MyWindow=window.open('/desdecasa/establishments/map?target=XXXXX','Mapa','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=450,height=385,left=200,top=200'); return false;"><strong><font color="#FFFFFF"> &nbsp;&gt;&gt; Mapa</font></strong></a></p><p><strong>Telèfon:</strong><font color="#000000"> 

	Telefon
    
</font></p><p><strong>Correu:</strong><font color="#000000">  

	E-mail
    
</font></p></td><td width="43%"><p><strong>Horari:</strong></p><p><font color="#000000"> 

	Horari1</font></p><p><font color="#000000">Horari2
    
    										<!-- Esborrar comentari i canviar l'adreça de l'imatge -->
</font></p></td></tr></table></td><td width="39%"><img src="<%= asset('images/establishments/XXXXX.png') %>" alt="" width="350" height="230" align="right" /></td></tr></table>