<table width="100%" height="242" border="0"><tr><td width="61%" height="238" align="left"><p align="justify">

	Pizzeria on s'ofereixen tot tipus de productes: pizzes, pasta, creps, amanides, etc. També cal destacar que tots aquests productes estàn disponibles sense gluten.

</p><p>&nbsp;</p><p><font color="#000000"><strong>Avantatges DesdeCasa:</strong> 

	5% en begudes i 10% en la resta de productes
    
</font></p><p>&nbsp;</p><table width="91%" border="0"><tr><td width="57%"><p><strong>Adreça:</strong><font color="#000000"> 

	C/ Torelló 25

</font><a href="#nogo" onclick="MyWindow=window.open('/desdecasa/establishments/map?target=Tropicana','Mapa','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=450,height=385,left=200,top=200'); return false;"><strong><font color="#FFFFFF"> &nbsp;&gt;&gt; Mapa</font></strong></a></p><p><strong>Telèfon:</strong><font color="#000000"> 

	938891259
    
</font></p><p><strong>Correu:</strong><font color="#000000">  

	alde_david@hotmail.com
    
</font></p></td><td width="43%"><p><strong>Horari:</strong></p><p><font color="#000000"> 

	Dc-Dg: 19:00 - 23:00</font></p>
  <p>&nbsp;</p></td></tr></table></td><td width="39%"><img src="<%= asset('images/establishments/Tropicana.png') %>" alt="" width="350" height="230" align="right" /></td></tr></table>