<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
    	<link rel="Shortcut Icon"  href="/desdecasa/favicon.ico" /> 	
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Millors Ofertes - DesdeCasa</title>
		  <meta name="keywords" content="desdecasa,descomptes,vic,Vic,ofertes,restaurants,bars,osona,Osona" />
        <meta name="description" content="Aconsegueix descomptes exclusius als bars i restaurants de Vic. Ofertes dels establiments de la capital d'Osona." />
		<link href="<%= asset('css/style.css') %>" rel="stylesheet" type="text/css" />		    
		<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
        <link href="<%= asset('css/sales.css') %>" rel="stylesheet" type="text/css" />		    
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	  <script src="/plugins/moving-boxes-2.2.15/js/moving-boxes.js" type="text/javascript"></script>

	  <link href="/plugins/moving-boxes-2.2.15/css/moving-boxes.css" rel="stylesheet" type="text/css" />
	<style>
		/* Dimensions set via css in MovingBoxes version 2.2.2+ */
		#slider { width: 800px; }
		#slider li { width: 300px; }
	</style>
	<script>
	$(function(){

		$('#slider').movingBoxes({
			/* width and panelWidth options deprecated, but still work to keep the plugin backwards compatible
			width: 500,
			panelWidth: 0.5,
			*/
			startPanel   : 1,      // start with this panel
			wrap         : true,   // if true, the panel will "wrap" (it really rewinds/fast forwards) at the ends
			buildNav     : true,   // if true, navigation links will be added
			navFormatter : function(){ return "&#9679;"; } // function which returns the navigation text for each panel
		});

	});
	</script>
        
	</head>
	
    <body><div id="mainbg">
	
		<%- include desdecasa-header.ejs %>

		<!-- Contingut de la pàgina -->
 
		<p>&nbsp;</p> 
		<p>&nbsp;</p>
        
		<div id="wrapper">

		<!-- MovingBoxes Slider -->
		<ul id="slider">

			<li><img src="images/sales/1.png" alt="picture"></li>

			<li><img src="images/sales/2.png" alt="picture"></li>

			<li><img src="images/sales/3.png" alt="picture"></li>

			<li><img src="images/sales/4.png" alt="picture"></li>
	
			<li><img src="images/sales/5.png" alt="picture"></li> 

			<li><img src="images/sales/6.png" alt="picture"></li> 
            
            <li><img src="images/sales/7.png" alt="picture"></li>

		</ul> <!-- end Slider #1 -->

		</div> <!-- end wrapper -->

		<p>&nbsp;</p>
	
		<%- include desdecasa-footer.ejs %>
		
	</body>
	
</html>
