<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
	<head>
    	<link rel="Shortcut Icon"  href="/desdecasa/favicon.ico" /> 	
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Preguntes Freqüents - DesdeCasa</title>
   <meta name="keywords" content="desdecasa,descomptes,vic,Vic,ofertes,restaurants,bars,osona,Osona" />
        <meta name="description" content="Aconsegueix descomptes exclusius als bars i restaurants de Vic. Ofertes dels establiments de la capital d'Osona." />
        <link href="<%= asset('css/style.css') %>" rel="stylesheet" type="text/css" />		    
				<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
				<link href="/plugins/spry-collapsible-panel-1.6.1/css/SpryCollapsiblePanel.css" rel="stylesheet" type="text/css" />
				<script src="/plugins/spry-collapsible-panel-1.6.1/js/SpryCollapsiblePanel.js" type="text/javascript"></script>

<script>
function selectday ()
{
var d = new Date();
var n = d.getDay();
window.location.href= "Locals/Locals" + n + ".html";
}
 
 </script>       
</head>
	
	<body><div id="mainbg">

		<%- include desdecasa-header.ejs %>
    
		<!-- Contingut de la pàgina --> 
		<p align="center">&nbsp; </p>
        <p><font size= "3" color="#FFFFFF" face="Karla"> Per veure la resposta a una pregunta clica sobre ella mateixa. Si les teves preguntes no estan a la llista envia'ns un mail a l'adreça <a href="/desdecasa/contact"><strong><font color="#FFFFFF" size="3">info@desdecasa.cat<font></strong></a> i et respondrem tan ràpid com sigui possible! </font>    	</p>
        <p align="center">&nbsp;</p>
        
    	<div align="left" id="CollapsiblePanel1" class="CollapsiblePanel2">
    	  <div class="CollapsiblePanelOpen" tabindex="0"><font size= "3" color="#FFFFFF"><strong><img src="images/gif-transparente.gif" alt="" width="109" height="16" />Què és DesdeCasa i perquè m'interessa?</strong></font></div>
    	  <div class="CollapsiblePanelContent">
    	    <p>&nbsp;</p>
    	    <p><font size= "3" color="#000000">És una pàgina web que t'ajuda a triar el teu restaurant a Vic. Per un costat mostra quins son els locals que tenen obert, per exemple, un dijous al vespre (amb l'aplicació <a onclick="selectday();" href="#nogo"><strong>"On Puc Anar Avui?"</strong></a>), i per l'altre ofereix descomptes en tots els locals de la pàgina als socis.</font></p>
    	    <p>&nbsp;</p>
    	  </div></div>
          
          <div align="left" id="CollapsiblePanel9" class="CollapsiblePanel2">
    	  <div class="CollapsiblePanelOpen" tabindex="0"><font size= "3" color="#FFFFFF"><strong><img src="images/gif-transparente.gif" alt="" width="109" height="16" />Com funciona l'apartat de Bars i Restaurants?</strong></font></div>
    	  <div class="CollapsiblePanelContent">
    	    <p>&nbsp;</p>
    	    <p><font size= "3" color="#000000"> En <a href="Locals/LocalsDte.html"><strong>aquest apartat</strong></a> pots ordenar els locals DesdeCasa de tres maneres diferents mitjançant la barra de selecció superior de color gris. Amb els botons de la dreta pots veure tots els locals que formen part de la web, ordenats alfabèticament o per descomptes, i amb el botó de l'esquerra pots veure els locals que tenen obert cada dia de la setmana amb el descompte pertinent.</font></p>
    	    <p>&nbsp;</p>
  	    </div>
  	  </div>
          
    	<div align="left" id="CollapsiblePanel5" class="CollapsiblePanel2">
    	  <div class="CollapsiblePanelOpen" tabindex="0"><font size= "3" color="#FFFFFF"><strong><img src="images/gif-transparente.gif" alt="" width="109" height="16" />Com puc optar als descomptes?</strong></font></div>
    	  <div class="CollapsiblePanelContent">
    	    <p>&nbsp;</p>
    	    <p><font size= "3" color="#000000">Per optar als descomptes has de fer-te soci (ho pots fer clicant <a href="/desdecasa/sign-up"><strong>aqui</strong></a>, només trigaràs 1 minut). Passats 10 dies rebràs un <strong><a href="images/ExempleCarnet.png" target="_blank">carnet personalitzat</a></strong> que et permetrà identificar-te com a membre DesdeCasa als locals de Vic. Perquè t'apliquin el descompte l'has de mostar quan paguis el compte.</font></p>
    	    <p>&nbsp;</p>
  	    </div>
  	  </div>
<div align="left" id="CollapsiblePanel4" class="CollapsiblePanel2">
<div class="CollapsiblePanelOpen" tabindex="0"><font size= "3" color="#FFFFFF"><strong><img src="images/gif-transparente.gif" alt="" width="109" height="16" />Quina és la modalitat de soci que més em convé?</strong></font></div>
    	  <div class="CollapsiblePanelContent">
    	    <p>&nbsp;</p>
    	    <p><font color="#000000" size="3">Si prefereixes menjar sol o en parella la teva modalitat és <em>Estàndar</em> ;  tu i el teu acompanyant (un com a màxim) gaudireu del descompte. Si pel contrari, surts més en família o amb els amics et recomanem la modalitat <em>Premium</em>, que permet aplicar el descompte fins a un màxim de 5 acompanyants. En qualsevol cas, tindràs accés a tots els descomptes DesdeCasa.</font></p>
    	    <p>&nbsp;</p>
  	  </div></div>
        
        <div align="left" id="CollapsiblePanel7" class="CollapsiblePanel2">
    	  <div class="CollapsiblePanelOpen" tabindex="0"><font size= "3" color="#FFFFFF"><strong><img src="images/gif-transparente.gif" alt="" width="109" height="16" />Com i quan realitzo el pagament del carnet?</strong></font></div>
    	  <div class="CollapsiblePanelContent">
    	    <p>&nbsp;</p>
    	    <p><font size= "3" color="#000000">Si esculls pagar amb targeta o PayPal, el pagament es fa just després de registrar-te. En cas de seleccionar el pagament en metàl·lic, es cobrarà l'import corresponent en el moment de l'entrega del carnet</font>. </p>
    	    <p>&nbsp;</p>
    	  </div></div>         
          
    	<div align="left" id="CollapsiblePanel6" class="CollapsiblePanel2">        
    	  <div class="CollapsiblePanelOpen" tabindex="0"><font color="#FFFFFF" size="3"><strong><img src="images/gif-transparente.gif" alt="" width="109" height="16" />On rebré el carnet?</strong></font></div>
    	  <div class="CollapsiblePanelContent">
    	    <p>&nbsp;</p>
    	    <p><font color="#000000" size="3">Quan tinguem el teu carnet apunt te'l vindrem a portar a l'adreça que facilitis quan et registris com a soci. El procés d'entrega triga uns 10 dies aproximadament.</font></p>
    	    <p>&nbsp;</p>
    	  </div></div>
          
          
          <div align="left" id="CollapsiblePanel2" class="CollapsiblePanel2">        
    	  <div class="CollapsiblePanelOpen" tabindex="0"><font color="#FFFFFF" size="3"><strong><img src="images/gif-transparente.gif" alt="" width="109" height="16" />Com puc regalar el carnet DesdeCasa?</strong></font></div>
    	  <div class="CollapsiblePanelContent">
    	    <p>&nbsp;</p>
    	    <p><font color="#000000" size="3">Per regalar el carnet DesdeCasa a una altra persona només cal que ens facilitis les seves dades de soci per preparar-li el regal i algunes dades teves de contacte. A més, pots aprofitar per fer-te també el teu carnet amb un 20% de descompte. Més informació a la pàgina de <a href="/desdecasa/gift"><strong>regalar</strong></a>.</font> </p>
    	    <p>&nbsp;</p>
    	  </div></div>
          
                        	<div align="left" id="CollapsiblePanel8" class="CollapsiblePanel2">        
    	  <div class="CollapsiblePanelOpen" tabindex="0"><font color="#FFFFFF" size="3"><strong><img src="images/gif-transparente.gif" alt="" width="109" height="16" />Quan caducarà el meu carnet?</strong></font></div>
    	  <div class="CollapsiblePanelContent">
    	    <p>&nbsp;</p>
    	    <p><font color="#000000" size="3">Tots els carnets de soci caduquen el 31/12/2013. Passa't aquest període pots renovar el teu carnet anualment (si retornes el carnet de soci caducat et farem un descompte del 20% en el preu del carnet nou). </font></p>
    	    <p>&nbsp;</p>
    	  </div></div>
       	  <div align="left" id="CollapsiblePanel3" class="CollapsiblePanel2">
                        	  <div class="CollapsiblePanelOpen" tabindex="0"><font color="#FFFFFF" size="3"><strong><img src="images/gif-transparente.gif" alt="" width="109" height="16" />Què passa si perdo el carnet?</strong></font></div>
                        	  <div class="CollapsiblePanelContent">
                        	    <p>&nbsp;</p>
                        	    <p><font color="#000000" size="3">En cas de pèrdua del carnet no et preocupis; <a href="/desdecasa/contact"><strong>contacta</strong></a> amb nosaltres i te'l tornarem a fer per només 1€.</font></p>
                        	    <p>&nbsp;</p>
                      	    </div>
                      	  </div>
       	  <p>&nbsp;</p>

		<script type="text/javascript">
		
		var CollapsiblePanel3 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel3", {contentIsOpen:false});
		var CollapsiblePanel2 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel2", {contentIsOpen:false});
		var CollapsiblePanel5 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel5", {contentIsOpen:false});
		var CollapsiblePanel1 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel1", {contentIsOpen:false});
		var CollapsiblePanel4 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel4", {contentIsOpen:false});
		var CollapsiblePanel6 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel6", {contentIsOpen:false});
		var CollapsiblePanel7 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel7", {contentIsOpen:false});
		var CollapsiblePanel8 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel8", {contentIsOpen:false});
		var CollapsiblePanel9 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel9", {contentIsOpen:false});
			
        </script>

		<!-- Peu de pagina -->
        
		<%- include desdecasa-footer.ejs %>
		
	</body>
	
</html>
