<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
	<head>
    
    	<link rel="Shortcut Icon"  href="/desdecasa/favicon.ico" /> 
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Inici - Des de Casa</title>
        <meta name="keywords" content="desdecasa,descomptes,vic,Vic,ofertes,restaurants,bars,osona,Osona" />
        <meta name="description" content="Aconsegueix descomptes exclusius als bars i restaurants de Vic. Ofertes dels establiments de la capital d'Osona." />
        <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css' />
		<link href="<%= asset('css/style.css') %>" rel="stylesheet" type="text/css" />

       <style type="text/css"> 
 		/*Banners publicitaris*/
			ul.ppt {
    			position: relative;
    		}

		    .ppt li {
			    list-style-type: none;
			    position: absolute;
			    top: 0;
			    left: 0;
		    }

		    .ppt img {
			    border: 0px solid #e7e7e7;
			    padding: 0px;
			    background-color: #ececec;
		    }
			
    	</style>
        
               <script>
function selectday ()
{
var d = new Date();
var n = d.getDay();
window.location.href= "/desdecasa/establishments/" + n;
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
               </script>
  
  		 
    </head>
	
   <body onload="MM_preloadImages('images/OnAvui2.png')">
	
  		<!-- Capçalera de la pàgina -->
		<div id="mainbg">

		<%- include desdecasa-header.ejs %>
        
<!-- Desactivem el banner de regalar el carnet

                        <br /><p>&nbsp;</p>
                         <div id="listado_estrenos"><div class="tiraindex">

                         <p align="center" onclick="top.location.href='/desdecasa/gift'"><a href="#nogo" ><font color="#FFFFFF" size="3" face="Karla" ><strong>Busques un regal econòmic i original? Regala el carnet DesdeCasa!</strong></font></a></p>
                         
                         </div></div>
                         <br />
-->
                         
        
<table><tr>
                 <td width="2%"></td>  
        <td width="60%"><p align="justify"><font color="#FFFFFF" size="3">No saps on sortir a menjar avui? No t'escalfis el cap! Tria el millor lloc de la manera més senzilla</font><font color="#FFFFFF" size="3">:  ordenem els bars i restaurants de Vic per dia i àpat, i te n'oferim gratüitament la informació que necessites saber.<br />
            <br /> 
            A més, tots els socis de la nostra pàgina web reben un carnet personalitzat que els permet 
            optar a un munt de descomptes als bars i restaurants de la ciutat! Si no te'n vols perdre 
          ni una, no esperis més; <a href="/desdecasa/sign-up" ><font color="#FFFFFF" size="3"><strong>Registra't</strong></font></a> i aconseguiràs el teu carnet en menys de 10 dies. </font></p>
<br />

<div id="listado_estrenos"><div class="tiraindex2">

                         <p align="center" onclick="selectday();"><a href="#nogo"><font color="#FFFFFF" size="3" face="Karla" ><strong>Hi ha tants llocs per anar que et costa decidir? T'ho posem fàcil! &nbsp;<img align="absmiddle" src="images/FIndex.png" alt="" width="23" height="23" border="0" /></strong></font></a></p>
                         
          </div></div>
</td>
                    
                   <td></td>   
        <td width="33%">
        <a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image17','','images/OnAvui2.png',1)"><img src="images/OnAvui.png" align="center" onclick="selectday();" width="307" height="257" border="0" id="Image17" /></a>
        </td>
                   
                    
                    </tr></table>
                    <br />
        
    	<table width="100%" border="0">
            
            <tr>
            	<td align="center" width="50%">               
                    <div id="listado_estrenos"><div id="destacado"><div class="cartel">
				    	<table width="96%" border="0">
    						<tr><td><a href="/desdecasa/establishments/discount"><img src="images/Logos.png" alt="" width="485" height="345" border="0" /></a>
                          </td></tr>
  						</table>
                    </div></div></div>
               	 </td>
                 
           	   	 <td align="center" width="50%" colspan="2">        
                    <div id="listado_estrenos"><div id="destacado"><div class="cartel2">
                    	<table height="20"><tr><td width="100%"></td></tr></table>
                        
                                                <table width="104%"> <!-- Linia de la fletxa -->
                        	<tr>
                            	<td width="17%"><img src="images/gif-transparente.gif" alt="" width="22" />
	                            <img src="images/Fletxa.png" alt="" width="45" height="30" /></td> 
                                            
    	                        <td width="83%"><p><font color="#000000" size="3" face="Karla"> Aquests són uns quants  establiments que </font></p>
    	                          <p><font color="#000000" size="3" face="Karla">formen part d'aquesta plataforma! Els coneixes?</font></p></td> 
        
        					</tr>
                        </table> 
                        <br />
	                    <table width="104%" border="0" align="left"	>
	                        <tr>
    							<td width="4%"><p><img src="images/gif-transparente.gif" alt="" width="15" height="16" />
                                               <strong><img src="images/gif-transparente.gif" alt="" width="14" height="5" />
                                               </strong></p><p><img src="images/gif-transparente.gif" alt="" width="31" height="4" /></p></td>
                          
								<td width="96%" valign="top"><p align="justify"><font color="#000000" size="3" face="Karla">Disfruta de descomptes exclusius per als usuaris de </font></p>
								<p align="justify"><font color="#000000" size="3" face="Karla"> DesdeCasa als bars i restaurants de Vic associats</font></p></td>
                                                    
							</tr>
                
                			<tr>
               					<td width="4%"><p><img src="images/gif-transparente.gif" alt="" width="15" height="16" />
                                <strong><img src="images/gif-transparente.gif" alt="" width="14" height="5" />
                                </strong></p><p><img src="images/gif-transparente.gif" alt="" width="31" height="4" /></p></td>
                                                    
                  				<td valign="top"><p align="justify"><font size="3" color ="000000" face="Karla">Informa't de les promocions de cada local a l'apartat </font></p>
                                <p align="justify"><font color="#000000" size="3" face="Karla"> de <a href="/desdecasa/establishments/discount"><strong>Bars i Restaurants</strong></a> o descobreix les<a href="/desdecasa/sales"> <strong>Millors Ofertes</strong></a></font></p></td>
                                
                			</tr>
                                                
                			<tr>
               					<td width="4%"><p><img src="images/gif-transparente.gif" alt="" width="15" height="16" />
                                <strong><img src="images/gif-transparente.gif" alt="" width="14" height="5" />
                                </strong></p><p><img src="images/gif-transparente.gif" alt="" width="31" height="4" /></p></td>
                                                    
								<td valign="top"><p align="justify"><font size="3" color ="000000" face="Karla"> Aconseguir el carnet és molt fàcil: només has</font></p><p align="justify"><font color="#000000" size="3" face="Karla">d'omplir aquest <a href="/desdecasa/sign-up"><font color="#000000"><strong>formulari</strong></font></a> (no trigaràs ni 2 minuts)</font></p></td>
                                
                			</tr>
                                                
                			<tr>
                            
               					<td width="4%"><p><img src="images/gif-transparente.gif" alt="" width="15" height="16" />
                                <strong><img src="images/gif-transparente.gif" alt="" width="14" height="5" />
                                </strong></p><p><img src="images/gif-transparente.gif" alt="" width="31" height="4" /></p></td>
                                                    
                  				<td valign="top"><p align="justify"><font color="#000000" size="3" face="Karla">Necessites més informació? Entra a l'apartat de</font></p>
                                <p align="justify"><font color="#000000" size="3" face="Karla"><a href="/desdecasa/faq"><strong>preguntes freqüents</strong></a> i t'aclarirem tots els dubtes!</font></p></td>
                                
                			</tr>                                                            
                                                
                   		</table> <!-- 4 primeres frases --><br /> <br /> <br /> <br /> <br /> <br />  <br /> <br /> <br />
                           
                	</div></div></div>                   
            	</td>
			</tr>            	     	
  		</table>
        
       <p>&nbsp;</p>
     
       		<p align="center"><a href="#"><img src="images/totelcel.png" alt="" width="170" height="53" border="0" /></a><a href="http://www.ipage.com/green-certified/" onClick="MyWindow=window.open('http://www.ipage.com/green-certified/','greenCertified','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=550,height=700,left=50,top=50'); return false;"><img src="http://www.ipage.com/green-certified/hosting-badge-2.png" border="0">
			</a>	</p>
			
       
		<!-- Peu de pagina -->
        
		<%- include desdecasa-footer.ejs %>
		
	</div></body>
	
	
</html>
