body {
    background-color: lightblue;
}

.centered {
    text-align: center;
}

.fractal-viewer {
    width: 1024px;
    height: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.piece {
    display: inline-block;
}

.piece.colorful {
    background-color: lightcoral;
}