body {
    margin: 0;
    padding: 0;
}

.controls-toggler {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 10;
    background-color: transparent;
    font-size: 20px;
}

.controls-toggler:focus {
    box-shadow: none;
}

#fractal-controls {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #b7e1f3;
    position: fixed;
    right: 0;
    left: 0;
}

#fractal-controls.hidden {
    opacity: 0;
}

#pattern {
    padding: 10px;
}

.pattern-section {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid lightblue;
    background-color: white;
}

.pattern-section.checked {
    border: none;
    background-color: skyblue;
}

#loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

@media(min-width: 576px) {
    #fractal-drawer {
        margin-top: 32px;
    }
}

.sk-cube-grid {
    height: 25%;
    width: 25%;
    margin-top: 0;
    position: relative;
    top: 25%;
}
.sk-cube-grid .sk-cube {
    background-color: skyblue;
}

.fractal-viewer {
    width: 100vw;
    height: 100vw;
    margin: auto;
}

@media(orientation: landscape) {
	.fractal-viewer {
		width: 100vh;
		height: 100vh;
	}
}

.piece {
    display: inline-block;
}

.piece.colorful {
    background-color: skyblue;
}