body {
    margin: 0;
    padding: 0;
}

.controls {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 10;
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
}

.controls:focus {
    box-shadow: none;
}

.controls.toggler {
    right: 10px;
}

.controls.color-picker {
    right: 50px;
}

.controls.reload {
    right: 90px;
}

.top-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #b7e1f3;
    position: fixed;
    right: 0;
    left: 0;
    max-height: calc(100%);
    overflow-y: auto;
}

.pad-10 {
    padding: 10px;
}

.pattern-section {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-top: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    background-color: white;
}

.colorizable {
    background-color: #7EC0EE !important;
}

@media (min-width: 576px) {
    .media-margin-top {
        margin-top: 32px;
    }
}

.full-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.max-square {
    width: 100vw;
    height: 100vw;
    margin: auto;
    display: block;
}

@media (orientation: landscape) {
	.max-square {
		width: 100vh;
		height: calc(100%);
	}
}

@media (orientation: landscape) and (min-width: 768px) {
    .max-square {
        width: 100vh;
        height: 100vh;
    }
}

.sk-cube-grid {
    height: 25%;
    width: 25%;
    margin-top: 0;
    position: relative;
    top: 25%;
}

.aligner {
    height: calc(100%);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .aligner {
        height: 100vh;
    }
}

.basicModal {
    width: 100%;
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
}