
<!-- Banner temporal per informar de les reformes al local   
    <div style="background-color: #195D19;
    			-webkit-box-shadow: 0 0 10px #195D19;
				border-radius: 5px;				
				margin-top: 10px;
				padding-top: 1px;			
				padding-bottom: 1px;
				color: #FFFFFF;
				" >

    	<p align="center"><em>Durant els mesos de Juliol i Agost de 2014 el local romandrà tancat degut a la realització de reformes en el restaurant</em></p>

    </div> -->
	<br />
	<center>                          
        
		<font size="2" color="#CD7F32">Carrer de Sant Miquel dels Sants 16, Vic | Tel. 93 883 23 96 | tcruells@hotmail.com </font></p>

	</center>
