
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>D.O. Vic |  Les nostres cates</title>
		<link href="favicon.ico" type="image/x-icon" rel="Shortcut Icon" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="DOVIC, restaurant, gastronomia, especialitats, apats, sopars, esdeveniments, paella, arròs, carn, peix" />
    <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'/>
    <meta name="description" content="DOVIC es un lloc de trobada pels teus àpats i sopar personals, de negocis o familiars en un ambient tranquil i selecta on pasaràs unes horas dignes de recordar a Vic." />
    
    <link rel="stylesheet" href="/plugins/coin-slider-1.0/css/coin-slider.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="<%= asset('css/content.css') %>" />
	<link rel="stylesheet" type="text/css" href="<%= asset('css/header.css') %>" />

</head>

<body>    
    
    <div id="Centre">
    
        <%- include do-vic-header.ejs %>
    
        <div id="Capsa">       
            
            <div style="width: 100%; height: 350; margin-left:20px; margin-right:-10px">
            <div style="width:40%; float:left; margin-left:10px; margin-right:-10px" >
            <p align="justify">
           Un cop al mes, normalment el primer dijous de cada mes, el restaurant D.O.Vic convidem un celler a presentar-nos els seus vins. El celler ens presenta uns 6 o 7 vins i ho acompanyem amb una colla de plats típics del nostre restaurant. Aquesta temporada 2012-13, hem tingut una bona representació de vins catalans.<br/><br/>
            
            Entre els cellers que ens han visitat podem trobar el celler Arche Pages, representat per Bonfill, el seu enòleg i propietari, que ens va deleitar amb una exitosa cata dels seus vins, clars, nets i sobretot gustosos. <br/><br/>
            
            En una altre ocasió va venir l'enòleg de Mont-Ferran : Pedro Muñoz, que és membre del Comitè Tècnic de D.O.CAVA.,i vàrem tenir el plaer de degustar un cava dels millors cellers del nostre país. Va ser la cata més nombrosa amb 32 assistents.<br/>
            
              </p>
            <p align="center" style="margin-top:25px;"> <b>PRÒXIMA CATA:</b>&nbsp;&nbsp;Per concretar</p>
            </div>
            
            
            <div style="width: 60%; float: right; margin-top: 20px;"> 
                      
                      <center>
                        <div id="games">
            
                        <a href="#"><img src="Images/Cates/cata1.png" alt="Cata del Cava Mont-Ferran" />
                        <span>
                        <b>Cata del Cava Mont-Ferran</b>
                        </span>
                        </a>
                        
                        <a href="#"><img src="Images/Cates/cata2.png" alt="Cata del Cava Mont-Ferran" />
                        <span>
                        <b>Pedro Muñoz i Núria Febrer a la cata Mont-Ferran</b>
                        </span>
                        </a>
                        
                        <a href="#"><img src="Images/Cates/cata3.png" alt="Cata amb el Celler de Capçanes" />
                        <span>
                        <b>Cata amb el Celler de Capçanes</b>
                        </span>
                        </a>
                        
                        <a href="#"><img src="Images/Cates/cata4.png" alt="Cata al Centre Cívic de Vic" />
                        <span>
                        <b>Cata al Centre Cívic de Vic</b>
                        </span>
                        </a>
                        
                        <a href="#"><img src="Images/Cates/cata5.png" alt="Cata Empordà, Pla del Bages, Penedès i Priorat" />
                        <span>
                        <b>Cata Empordà, Pla del Bages, Penedès i Priorat</b>
                        </span>                                                
                        </a>            
                    </div></center>
                                      
				</div>
                </div>                         
          <p align="justify" style="margin-left:30px; margin-right:45px">Agraïm la col·laboració de tots els cellers que han vingut a deleitar-nos amb els seus vins i sobretot a tots els assistents que, per un mòdic preu d'entre 12 i 18 euros, han tingut el plaer de degustar aquests caldos tan de casa nostra acompanyants d'excel.lents tapetes del nostre xef.</p>
        </div>
        
        <%- include do-vic-footer.ejs %>       
           
    </div>
    
    <script type="text/javascript" src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/plugins/coin-slider-1.0/js/coin-slider.min.js"></script>
    
     <script>$(document).ready(function() {
	$('#games').coinslider({ hoverPause: false });
	});
	</script>
    
</body>
</html>
