

	<div id="buttons"> 
   
        <a href="/do-vic/inici"><strong>Inici</strong></a>
        <a href="/do-vic/descobreix"><strong>Descobreix-nos</strong></a>
        <a href="/do-vic/cuina"><strong>La nostra cuina</strong></a>
        <a href="/do-vic/reservar"><strong>Reservar</strong></a>
        <a href="/do-vic/contacte"><strong>Contacte</strong></a>
                       
    </div>
    
    <div id="Linia"></div>