
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>D.O. Vic |  Contacte</title>
		<link href="favicon.ico" type="image/x-icon" rel="Shortcut Icon" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="DOVIC, restaurant, gastronomia, especialitats, apats, sopars, esdeveniments, paella, arròs, carn, peix" />
    <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'/>
    <meta name="description" content="DOVIC es un lloc de trobada pels teus àpats i sopar personals, de negocis o familiars en un ambient tranquil i selecta on pasaràs unes horas dignes de recordar a Vic." />
    
	<link rel="stylesheet" type="text/css" href="<%= asset('css/content.css') %>" />
	<link rel="stylesheet" type="text/css" href="<%= asset('css/header.css') %>" />
</head>

<body>    
    
    <div id="Centre">
    
        <%- include do-vic-header.ejs %>
    
        <div id="Capsa">                	        
            
            Si vols fer-nos arribar la teva opinió o comentar-nos qualsevol cosa pots enviar-nos un missatge completant el formulari següent i et respondrem tan aviat com sigui possible. També tens la possibilitat de trucar-nos o venir a veure'ns. Gràcies per la teva paciència.<br /><br />
            
		<div style="width:100%;"> 
           
			<div style="width:30%; float:left"> 
             <center><br /><b>Horaris</b></center><br />
                	<div style="height:100px"><div style="width:50%; float:left; height:100px; margin-left:30px; ">                         
		                <!--Dilluns i Dimarts:<br />
						De Dimecres a Dissabte:<br />
						De Dijous a Dissabte:<br />
						Diumenge:<br />-->
                        Dimarts a dissabte: <br />
                        Dijous a dissabte: <br />
                        Dilluns i diumenge: <br />
                	</div>
                     <div style="width:35%; float:right; height:100px;">
                       <!--Festa Setmanal<br />-->
		                De 13.00 a 15.30<br />
		                De 20.30 a 22.30<br />
		                <!--de 13.30 a 15.30<br />-->
                        Festa setmanal<br />
                    </div></div>
                    <center>
                       <b>Telèfon del restaurant:</b> 93 883 23 96 <br /><br />
                       <b>Adreça:</b> C/Sant Miquel dels Sants 16, Vic<br /><br />
                		<b>Correu electrònic:</b> tcruells@hotmail.com<br /><br />
                        
                        <a href="http://www.facebook.com/Restaurantdenominacioorigenvic" target="_blank">
                        <img src="Images/Facebook.png"></a></center>
		                        
			</div>
            <div style="width:70%; float:right">
                    
            	<div style="width:100%;">
                    
                    <div style="width:50%; float:left">
                     <center><br /><b>Situació</b></center><br />
                    <center><iframe width="300" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=2.24843,41.92456,2.26587,41.934&amp;zoom=20;layer=mapnik&amp;marker=41.92925,2.25435" style="border: 1px solid black"></iframe><br /> </center> 
                    </div>
                    
                    <div style="width:50%; float:right">
                    
			<center><br /><b>Formulari de Contacte&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b><input name="Enviar" type="submit" id="Enviar" value="  Enviar  " class="Boto" disabled></center>
            <center><left><br />
				Nom i Cognoms:&nbsp;&nbsp;&nbsp;<input name="Nom" type="text" id="Nom" size="28" class="Camp"><br />
              	Correu Electrònic:&nbsp;&nbsp;&nbsp;<input name="Correu" type="text" id="Correu" size="27" class="Camp"><br />
   				Telèfon de Contacte:&nbsp;&nbsp;&nbsp;<input name="Telefon" type="text" id="Telefon" size="25" class="Camp"><br />
                Assumpte:&nbsp;&nbsp;&nbsp;<input name="Assumpte" type="text" id="Assumpte" size="34" class="Camp"><br /><br />
                <textarea name="Missatge" id="Missatge" cols="42" rows="5" class="Camp" onFocus="this.value='';" >Escriu el teu missatge aquí...</textarea><br /><br />
                </left></center>
                                         
                	</div>
                    
                    
                    
                    
            	</div>
                    
                    
			</div>

           
		</div>
        
        <br />
       
       
        
</div>
        
    <%- include do-vic-footer.ejs %>
           
    </div>
    
    <script type="text/javascript" src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/plugins/coin-slider-1.0/js/coin-slider.min.js"></script>
    
</body>
</html>
