
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>D.O. Vic |  La nostra cuina</title>
		<link href="favicon.ico" type="image/x-icon" rel="Shortcut Icon" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="DOVIC, restaurant, gastronomia, especialitats, apats, sopars, esdeveniments, paella, arròs, carn, peix" />
    <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'/>
    <meta name="description" content="DOVIC es un lloc de trobada pels teus àpats i sopar personals, de negocis o familiars en un ambient tranquil i selecta on pasaràs unes horas dignes de recordar a Vic." />
    
	<link rel="stylesheet" type="text/css" href="<%= asset('css/content.css') %>" />
	<link rel="stylesheet" type="text/css" href="<%= asset('css/header.css') %>" />

</head>

<body>    
    
    <div id="Centre">
    
        <%- include do-vic-header.ejs %>
    
        <div id="Capsa">   
            
            Aquí trobaràs les nostres cartes, tant les de menús com les de vins i postres, renovades periòdicament per tal d'ajustar els plats als productes de temporada. Clica la carta que vulguis llegir o descarregar i s'obrirà en una pestanya nova. També disposem de menú infantil.
        
        	<div style="width:50%; height:300px; float:left; margin-top:25px">            
            	<div style="width:50%; height:300px; float:left">
	                <center><a href="Pdfs/Carta2014.pdf" target="_blank"><img src="Images/Cartes/Menu.png" style="width:246px; height:338px"></a><br /><br /></center>
                </div>
                <div style="width:50%; height:300px; float:right">
	                <center><a href="Pdfs/Primavera2014.pdf" target="_blank"><img src="Images/Cartes/MenuPica-Pica.png" style="width:246px; height:338px"></a></center>
                </div>                
            </div>
          	<div style="width:50%; height:300px; float:right; margin-top:25px">
            	<div style="width:50%; height:300px; float:left">
	                <center><a href="Pdfs/Vins2014.pdf" target="_blank"><img src="Images/Cartes/CartaVins.png" style="width:246px; height:338px"></a></center>
                </div>
                <div style="width:50%; height:300px; float:right">
	                <center><a href="Pdfs/Postres2014.pdf" target="_blank"><img src="Images/Cartes/CartaPostres.png" style="width:246px; height:338px"></a></center>
                </div>
            </div>
        
    </div>                                                                                             
                
    <%- include do-vic-footer.ejs %>
    
    </div>
    
    <script type="text/javascript" src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>    
</body>
</html>
