<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>D.O. Vic | Inici</title>
	<link href="favicon.ico" type="image/x-icon" rel="Shortcut Icon" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="DOVIC, restaurant, gastronomia, especialitats, apats, sopars, esdeveniments, paella, arròs, carn, peix" />
    <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'/>
    <meta name="description" content="DOVIC es un lloc de trobada pels teus àpats i sopar personals, de negocis o familiars en un ambient tranquil i selecta on pasaràs unes horas dignes de recordar a Vic." />
	
	<link rel="stylesheet" href="/plugins/coin-slider-1.0/css/coin-slider.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="<%= asset('css/content.css') %>" />
	<link rel="stylesheet" type="text/css" href="<%= asset('css/header.css') %>" />
</head>

<body>    
    
	<div id="Centre">    
    
		<%- include do-vic-header.ejs %>

   		<!--<div class="alerta">Durant tot el mes de desembre els diumenges obrim de 13:30 a 16:00</div>-->
    
        <div id="Capsa">
                      
            <div style="width:100%">
            <div style="float:left; width:48%;">                        
	           	     
	        	<div style="float:left; width:95%; margin-top:22px; margin-left: 10px">
                
					Benvingut a la pàgina del D.O. Vic! Aquí podràs trobar els nostres menús de temporada, veure fotos del restaurant, consultar informació del local i fer-nos arribar els teus suggeriments. Esperem que t'agradi.
                
					
                    <div style="height:95px;">

                        <div style="float:left; width:50%">
                        <h4>Vols gaudir d'una bona cuina?<br/>
                        Vols una bona copa de vi?<br/>
                        No t'ho pensis més i visita'ns.</h4>
                        </div>
                        <div style="float:right; margin-top:30px; width:50%">
                            <a href="/do-vic/reservar"><img src="Images/ReservarOnline.png"></a>
                        </div>
                  
                    </div>                
                
                	Si t'apasiona el vi, descobreix les cates que organitzem al D.O. Vic. Estigues atent i inscriu-te a la propera! Per saber-ne més clica l'imatge següent:
   
                    <br /><br />&nbsp;<img src="Images/Logotip.png" width="249" height="118">&nbsp;&nbsp;<a href="/do-vic/cates"><img src="Images/CatesVins.png" width="249" height="118"></a><br/>
                    <br />
                    <center><a href="https://ca-es.facebook.com/pages/Denominaci%C3%B3-Dorigen-Vic/333660580079682" target="_blank"><img src="Images/IconaFB.png" align="absmiddle" width="43" height="44"></a>&nbsp;<a href="https://plus.google.com/104745353893623287125/about?hl=ca" target="_blank"><img src="Images/IconaGP.png" align="absmiddle" width="35" height="36"></a>&emsp;&emsp;
                    	<b>Ultima actualització: </b>09 de Desembre de 2014</center>
    
                </div>
                <div id="Separador" style="width:1px; float:right"></div>
        
        	</div>
	        <div style="padding: 5px; float:right; width: 565px; margin-top:0px;"><div style="margin-left:20px;"><center><img src="Images/ElsNostresPlats.png"><br /><br /></center></div>
				<div id="games">
		
					<a href="http://www.restaurant-do-vic.cat/Images/Plats/Plat1.JPG" target="_blank">
						<img src="Images/MiniPlats/MiniPlat1.png" alt="Tapetes de pernil ibèric" />
                		<span>
						<b>Tapetes de pernil ibèric i pa amb tomàquet</b>
						</span>
					</a>
			
					<a href="http://www.restaurant-do-vic.cat/Images/Plats/Plat2.JPG" target="_blank">
						<img src="Images/MiniPlats/MiniPlat2.png" alt="Carpaccio de pop" />
						<span>
						<b>Carpaccio de pop tebi amb patatona als dos olis</b><br />
						</span>
                	</a>
                
                   <a href="http://www.restaurant-do-vic.cat/Images/Plats/Plat3.JPG" target="_blank">
						<img src="Images/MiniPlats/MiniPlat3.png" alt="Saltat de verdures" />
						<span>
						<b>Saltat de verdures amb xipironets al wok</b><br />
						</span>
					</a>
            
           			<a href="http://www.restaurant-do-vic.cat/Images/Plats/Plat4.JPG" target="_blank">
						<img src="Images/MiniPlats/MiniPlat4.png" alt="Raviolis de cua de bou" />
						<span>
						<b>Raviolis de cua de bou amb daus de tomàquet i alfàbrega</b><br />
						</span>
					</a>
            
            		<a href="http://www.restaurant-do-vic.cat/Images/Plats/Plat5.JPG" target="_blank">
						<img src="Images/MiniPlats/MiniPlat5.png" alt="Tàrtar de tonyina" />
						<span>
						<b>Tàrtar de tonyina fresca amb daus de poma golden i soja</b><br />
						</span>
					</a>
        
        			<a href="http://www.restaurant-do-vic.cat/Images/Plats/Plat6.JPG" target="_blank">
						<img src="Images/MiniPlats/MiniPlat6.png" alt="Filet de porc" />
						<span>
						<b>Filet de porc d'Osona sobre llit de poma amb foie i oporto reduït</b><br />
						</span>
					</a>
                    
                    <a href="http://www.restaurant-do-vic.cat/Images/Plats/Plat7.JPG" target="_blank">
						<img src="Images/MiniPlats/MiniPlat7.png" alt="Cruixent de maduixots" />
						<span>
						<b>Cruixent de maduixots i nata amb sucre glass</b><br />
						</span>
					</a>
			
            
            <a href="http://www.restaurant-do-vic.cat/Images/Plats/Plat8.JPG" target="_blank">
						<img src="Images/MiniPlats/MiniPlat8.png" alt=" Crema suau de iogurt" />
						<span>
						<b>Crema suau de iogurt amb textures de mango</b><br />
						</span>
					</a>
			
            
            <a href="http://www.restaurant-do-vic.cat/Images/Plats/Plat9.JPG" target="_blank">
						<img src="Images/MiniPlats/MiniPlat9.png" alt="Mató amb duo de xocolates" />
						<span>
						<b>Mató amb duo de xocolates</b><br />
						</span>
					</a>
								
				</div>
				<!-- Missatge Nadal
                 <div style="float:left; width:8%; margin-top:-10px; padding-left:16px;"><img src="Images/nadal2.gif" alt="" /></div><div style="float:left; width:75%; text-align:center">Aquestes festes disfruta del nostre <a href="Images/MenuFestes2013.jpg" target="_blank"><font color="#000000" style="text-decoration:none"><b>menú per emportar</b></font></a>!</div><div style="float:left; width:8%;  margin-top:-10px;"><img src="Images/nadal.gif" alt="" /></div><br />
	             -->
	             <!-- Link osona cuina -->
	             <div style="width:75%; margin-left:12.5%; margin-top: 5px; height: 40px; text-align:center; color:#111111">
             		Des d'aquest Gener formem part del col·lectiu
	             	<a href="http://www.osonacuina.com/" target="_blank" style="text-decoration:none; color:#111111">
	             		<b>Osona Cuina</b>
	             	</a>
	             </div><br />
          	</div>                                  	      
         </div>
            
        </div>

		<%- include do-vic-footer.ejs %>
           
	</div>

	<script type="text/javascript" src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/plugins/coin-slider-1.0/js/coin-slider.min.js"></script>
	
	<script>
		$(document).ready(function() {
			$('#games').coinslider({ hoverPause: false });
		});
	</script>
</body>
</html>
