<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>D.O. Vic |  Reservar</title>
		<link href="favicon.ico" type="image/x-icon" rel="Shortcut Icon" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="DOVIC, restaurant, gastronomia, especialitats, apats, sopars, esdeveniments, paella, arròs, carn, peix" />
    <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'/>
    <meta name="description" content="DOVIC es un lloc de trobada pels teus àpats i sopar personals, de negocis o familiars en un ambient tranquil i selecta on pasaràs unes horas dignes de recordar a Vic." />

    <link rel="stylesheet" href="/plugins/coin-slider-1.0/css/coin-slider.css" type="text/css" />
    <link rel="stylesheet" href="/plugins/jquery-calendar/calendar.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="<%= asset('css/content.css') %>" />
	<link rel="stylesheet" type="text/css" href="<%= asset('css/header.css') %>" />    
</head>

<body>    
    
    <div id="Centre">
    
        <%- include do-vic-header.ejs %>

        <!-- <div class="alerta">En motiu del Mercat Medial durant els propers dies només acceptarem reserves via trucada telefònica. Disculpeu les molèsties</div>
    -->
        <div id="Capsa">    
        
     
        Si vols venir a gaudir d'un bon àpat en un ambient tan acollidor com el de les fotos només has d'omplir el formulari i reservar la teva taula. Un cop tramitada la reserva et trucarem en breu per confirmar-la. Mentrestant, pots donar un cop d'ull als nostres menús i cartes per saber que t'oferim. T'esperem aviat!<br /><br />
        
        
        	<div style="width: 100%; height:330px">
            
		 		<div style="width:40%; float:left;">
                   <center>
                        <br/><b>Formulari de Reserva</b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;         <br/><br/>               
                        Nom i Cognoms:&nbsp;&nbsp;&nbsp;<input name="Nom" type="text" id="Nom" size="28" class="Camp"><br /><br />
                        Correu Electrònic:&nbsp;&nbsp;&nbsp;<input name="Correu" type="text" id="Correu" size="27" class="Camp"><br /><br />
                        Telèfon de Contacte:&nbsp;&nbsp;&nbsp;<input name="Telefon" type="text" id="Telefon" size="25" class="Camp"><br /><br />
                        <div style="width:100%; height:5px"></div>
                        <input type="hidden" name="on" value="Acompanyants" >Persones:&nbsp;&nbsp;&nbsp;
                            <select name="NombreAcompanyants">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="Altres">Altres&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                        </select> <br /><br />
                        Data:&nbsp;&nbsp;&nbsp;<input type="text" id="Data" name="Data" size="10" onClick="setYears(2013, 2014); showCalender(this, 'Data');">&nbsp;&nbsp;<a onClick="setYears(2013, 2014); showCalender(this, 'Data');"><img src="/plugins/jquery-calendar/calender.png" style="cursor:pointer"></a>&emsp;
                        Hora:&nbsp;&nbsp;&nbsp;<input name="Hora" type="text" id="Hora" size="10" class="Camp"> 
                        
                   </center>
                   <center><button id="Enviar" value="   Reservar   " class="Boto" disabled>Reservar</button><br/>
                   <div id="MissingFields" style="display: none;">Falta completar algun dels camps anteriors!</div></center>
       			</div>
                
       			<div style="width: 60%; float: right; margin-top: 20px"> 
                      
                      <center><div id="games">
            
                        <a href="#"><img src="Images/Local/Local1.png" alt="Menjador principal" />
                        <span>
                        <b>Menjador principal</b>
                        </span>
                        </a>
                        
                        <a href="#"><img src="Images/Local/Local2.png" alt="Menjador principal" />
                        <span>
                        <b>Menjador principal</b>
                        </span>
                        </a>
                        
                        <a href="#"><img src="Images/Local/Local3.png" alt="Menjador interior" />
                        <span>
                        <b>Menjador interior</b>
                        </span>
                        </a>
                        
                        <a href="#"><img src="Images/Local/Local4.png" alt="Sofà del menjador interior" />
                        <span>
                        <b>Sofà del menjador interior</b>
                        </span>
                        </a>
                        
                        <a href="#"><img src="Images/Local/Local5.png" alt="Decoració de la taula" />
                        <span>
                        <b>Decoració de la taula</b>
                        </span>                                                
                        </a>            
                    </div></center>
                                      
				</div>   
			</div>                   
		</div>
        
    	<%- include do-vic-footer.ejs %>
           
	</div>
     <!-- Calender script  --> 

    <script type="text/javascript" src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/plugins/coin-slider-1.0/js/coin-slider.min.js"></script>
    <script type="text/javascript" src="/plugins/jquery-calendar/calendar.js"></script>

    <table id="calenderTable">
        <tbody id="calenderTableHead">
          <tr>
            <td colspan="7" align="center">
	          <select onChange="showCalenderBody(createCalender(document.getElementById('selectYear').value,
	           this.selectedIndex, false));" id="selectMonth">
	              <option value="0">Gener</option>
	              <option value="1">Febrer</option>
	              <option value="2">Març</option>
	              <option value="3">Abril</option>
	              <option value="4">Maig</option>
	              <option value="5">Juny</option>
	              <option value="6">Juliol</option>
	              <option value="7">Agost</option>
	              <option value="8">Setembre</option>
	              <option value="9">Octubre</option>
	              <option value="10">Novembre</option>
	              <option value="11">Desembre</option>
	          </select>
			    <select onChange="showCalenderBody(createCalender(this.value, 
				document.getElementById('selectMonth').selectedIndex, false));" id="selectYear">
				</select>&emsp;&emsp;
			    <a onClick="closeCalender();"><img src="/plugins/jquery-calendar/cross.png" width="16" height="16" style="cursor:pointer"></a>
			</td>
		  </tr>
       </tbody>
       <tbody align="center" id="calenderTableDays">
         <tr style="">
           <td>Dg</td><td>Dl</td><td>Dt</td><td>Dc</td><td>Dj</td><td>Dv</td><td>Ds</td>
         </tr>
       </tbody>
       <tbody align="center" id="calender"></tbody>
    </table>

    <script>
    function attachClickEvent(myFunction, elementId) {
        var el = document.getElementById(elementId);
        if (el.addEventListener) {
            el.addEventListener("click", myFunction, false);
        } else {
            el.attachEvent('onclick', myFunction);
        }  
    }

    $(document).ready(function() {
    	$('#games').coinslider({ hoverPause: false });

        attachClickEvent(function(){
            $('#MissingFields').hide();
            if($('#Nom').val().length != 0 && $('#Correu').val().length != 0 && $('#Telefon').val().length != 0 && $('#Data').val().length != 0 && $('#Hora').val().length != 0) {
                $('#BookingForm').submit();
            }
            else {
                $('#MissingFields').fadeIn(1000);
            }
        }, "Enviar");

        /*Funció per desactivar tots els inputs sense haver d'afegir l'atribut disabled a cadascun*/
        function desactivarFormulari() {
            $('input').attr('disabled', true);
            $('select').attr('disabled', true);
            $('button').attr('disabled', true);
            $('#selectYear').remove();
        }
        //desactivarFormulari();

    });
	</script>

</body>
</html>
