
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>D.O. Vic |  Descobreix-nos</title>
		<link href="favicon.ico" type="image/x-icon" rel="Shortcut Icon" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="DOVIC, restaurant, gastronomia, especialitats, apats, sopars, esdeveniments, paella, arròs, carn, peix" />
    <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'/>
    <meta name="description" content="DOVIC es un lloc de trobada pels teus àpats i sopar personals, de negocis o familiars en un ambient tranquil i selecta on pasaràs unes horas dignes de recordar a Vic." />
    
	<link rel="stylesheet" type="text/css" href="<%= asset('css/content.css') %>" />
	<link rel="stylesheet" type="text/css" href="<%= asset('css/header.css') %>" />

</head>

<body>    
    
    <div id="Centre">
    
        <%- include do-vic-header.ejs %>
    
        <div id="Capsa">       
        <br />
	        <div style="width:100%; height:180px">
                <div style="width:62%; float:left; text-align:justify">
                    
Situat al cor de la capital d'Osona, enmig de carrers oblidats per la majoria de visitants, pots trobar el restaurant D.O.VIC (Carrer Sant Miquel dels Sants 16), un restaurant amb caràcter jove que no deixa de banda la cuina de tota la vida i que ara té un nou objectiu: acostar-te al món del vi!<br /><br />
    
Al capdavant d'aquest projecte hi ha la parella formada per Núria FEBRER i Toni  CRUELLS, que després de llargues experiències en diferents restaurants i ciutats del mon (Barcelona, París, Tòquio, etc.) on van enriquir-se professionalment, van decidir que era el moment de tenir el seu propi restaurant.
    
                </div>            
                <div style="width:38%; float:right; padding-top:5px">
            
                    <center><img src="Images/Descobreix2.png"></center>
            
                </div>
			</div>           
            
   	        <div style="width:100%; height:220px;">
                <div style="width:63%; float:right; padding-right:20px; text-align:justify">
    
Aprofitant que la Núria és sumeller i que la seva última experiència ha estat la de treballar en l'equip de sumellers del restaurant el Bulli de Roses, volem fer-te descobrir i disfrutar d'aquest fantàstic producte, oferint-te una carta equilibrada, menús amb maridatge de vins, cursets, xerrades, conferències i més! Tot acompanyat del consell, sempre i quan el desitgis, de la nostra sumeller.<br /><br />
    
A aquesta nova il.lusió hi hem de sumar la bona cuina ja coneguda, amb el menú diari d'excel.lent qualitat, ben equilibrat i preu just. També un menú de temporada i una carta que en Toni realitza tot respectant el producte, la manipulació i la cocció, acabant amb una senzilla però acurada presentació.<br /><br />
    
Així doncs, et convidem a descobrir el D.O.VIC!
    
                </div>            
                <div style="width:34%; float:left; padding-top:3px">
                
                    <center><img src="Images/Descobreix1.png"></center>
                                    
                </div>
            </div>                                
        
        </div>
        
        <%- include do-vic-footer.ejs %>
           
    </div>
    
    <script type="text/javascript" src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>    
</body>
</html>
