<div class="secondary-color-bg">
	<div class="container">
    	<p class="row">
    		<p class="col-xs-12 text-center">
    			<a href="http://www.facebook.com/Restaurantdenominacioorigenvic" target="_blank">
    				<img src="images/footer-facebook.png" align="absmiddle" width="30" height="30">
    			</a>
    			<a href="https://plus.google.com/104745353893623287125/about?hl=ca" target="_blank">
    				<img src="images/footer-google-plus.gif" align="absmiddle" width="30" height="30">
    			</a>
    			| Carrer de Sant Miquel dels Sants 16, Vic | Tel. 93 883 23 96 | tcruells@hotmail.com
    		</p>
    	</p>
 	</div>
</div>