<div class="navbar secondary-color-bg navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar white-bg"></span>
            <span class="icon-bar white-bg"></span>
            <span class="icon-bar white-bg"></span>
          </button>
          <a class="navbar-brand" href="#">Restaurant D.O.Vic</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Nosaltres</a></li>
            <li><a href="#">La cuina</a></li>
            <li><a href="#">Reserves</a></li>
            <li><a href="#">Contacte</a></li>
          </ul>
      </div>
    </div>
</div>