
<html xmlns="http://www.w3.org/1999/xhtml" lang="ca" xml:lang="ca">
<head>	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="/plugins/bootstrap-3.2.0/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body class="body-bg">	

	<%- include responsive-do-vic-navbar.ejs %>

	<div class="container post-navbar-margin">

		<!-- SLIDER -->
		<div class="row margin-horizontal-20">
			<div class="col-xs-12 text-center">
				<div id="myCarousel" class="no-padding carousel slide" data-interval="5000" data-ride="carousel">
			    	<!-- Carousel indicators -->
			        <ol class="carousel-indicators">
			            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			            <li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
						<li data-target="#myCarousel" data-slide-to="3"></li>
			        </ol>   
			       <!-- Carousel items -->
			        <div class="carousel-inner img-responisve">
			            <div class="active item">
			                <img src="images/slider/MiniPlat1.png" />
			                <div class="carousel-caption">
			                  <h3>First slide label</h3>
			                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                </div>
			            </div>
			            <div class="item">
			                <img src="images/slider/MiniPlat2.png" />
			                <div class="carousel-caption">
			                  <h3>Second slide label</h3>
			                  <p>Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
			                </div>
			            </div>
			            <div class="item">
			                <img src="images/slider/MiniPlat3.png" />
			                <div class="carousel-caption">
			                  <h3>Third slide label</h3>
			                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
			                </div>
						</div>
						<div class="item">
							<img src="images/slider/MiniPlat4.png" />
							<div class="carousel-caption">
								<h3>Fourth slide label</h3>
								<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
							</div>
						</div>
		        	</div>
			        <!-- Carousel nav -->
			        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
			            <span class="glyphicon glyphicon-chevron-left"></span>
			        </a>
			        <a class="carousel-control right" href="#myCarousel" data-slide="next">
			            <span class="glyphicon glyphicon-chevron-right"></span>
			        </a>
		    	</div>
			</div>
		</div>				
		

		<!-- COS DE LA PÀGINA -->
		<div class="row main-text">
			<div class="col-md-3 col-sm-6 margin-horizontal-20">
				<p align="justify">Benvingut a la nostra pàgina! Aquí trobaràs els nostres menús de temporada, fotos del restaurant, informació del local i ens podràs fer arribar els teus suggeriments.</p>
				<img class="img-responsive img-center" src="images/Logotip.png"/>
			</div>
			<div class="col-md-3 col-sm-6 margin-horizontal-20">			
				<p align="justify">A més, si t'apassiona el vi, descobriràs les cates que organitzem al D.O. Vic. Estigues atent i inscriu-te a la propera! Per més informació clica sobre la imatge següent:</p>
				<img class="img-responsive img-center" src="images/CatesVins.png"/>
			</div>
			<div class="col-md-3 col-sm-6 text-center margin-horizontal-20">
				<p style="margin: 5px;">Vols gaudir d'una bona cuina?</p>
               	<p style="margin: 5px;">Vols una bona copa de vi?</p>
                <p style="margin: 5px;">No t'ho pensis més i visita'ns!</p>
                <br />
                <div class="row no-margin">
                	<button class="secondary-button col-sm-8 col-sm-offset-2 col-xs-12">RESERVAR ></button>
            	</div>
			</div>
			<div class="col-md-3 col-sm-6 margin-horizontal-20">
				<p align="justify">Des del Gener de 2014 formem part del col·lectiu Osona Cuina. Pots descobrir-ho tot sobre aquesta iniciativa clicant sobre aquesta imatge:</p>
				<div class="visible-lg visible-md" style="width: 100%; height: 20px;"></div>
				<a href="http://www.osonacuina.com/">
					<img class="img-responsive img-center" src="images/OsonaCuina.png"/>
				</a>
			</div>			
		</div>
	</div> 

	<%- include responsive-do-vic-footer.ejs %>

	<script type="text/javascript" src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
