
#html, body {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width:1200px;
  margin: auto;

  min-height: 600px;
  margin-top:40px;
}

body {
	/*Fons de la pàgina*/
	background: url(../images/MainBG.png);
	background-repeat:repeat;
}
	
#Centre {
	/*Tot el contingut interior es centra al mig de la pàgina*/
	width:1200px;
	height:550px;
	font-family: Karla;
	
	/*Centrar al mig*
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left:-600px;
	margin-top:-275px;*/
}
	
#Capsa {
	padding: 20px; /*Marge interior de la capsa*/
	height:400px;
	font-family: Karla;
	font-size:15px;
	color: #000; /*#5C3317;*/
	font-style:italic;
	border-radius: 5px; /*Arrodonir les cantonades de la capsa*/
/*	background: url(Images/BGCapsa.png);*/
	background-color:#B16825;
	background-repeat:repeat;
	-webkit-box-shadow: 0 0 10px #B16825; /*Ombra de la capsa*/
	border:3px solid #B16825;
}

.alerta {
	padding: 10px;
	font-family: Karla;
	font-size:15px;
	color: #fff; /*#5C3317;*/
	text-align: center;
	font-weight: bold;
	border-radius: 5px; /*Arrodonir les cantonades de la capsa*/
	background-color:#324F17	;
	-webkit-box-shadow: 0 0 10px #324F17	; /*Ombra de la capsa*/
	margin-top: 10px;
	margin-bottom: 10px;
}

#Tira{
	-webkit-box-shadow: 0 0 15px #999;
	-moz-box-shadow: 0 0 15px #999;
	box-shadow: 0 0 15px #999;
	border-radius: 5px;
	padding:15px;
	font-size:17px;
	color:#FFF;
	text-align:center;
}

input.Camp {
	/*Classes per fer més estetic el formulari*/
	border:thin solid #BBBBBB;
	border-radius: 5px;
	margin-top:5px;
	padding:3px;
	font-family: Karla;
	font-size:15px;
	text-align:left;
	height:25px;
}

textarea.Camp {
	border:thin solid #BBBBBB;
	border-radius: 5px;
	padding:3px;
	vertical-align:text-top;
	font-family: Karla;
	font-size: 15px;
}

.Boto {
	cursor: pointer;
	border: thin solid #039;
	background-color: #FFF;
	font-family: Karla;
	font-size: 14px;
	border-radius: 3px;
	padding: 3px 10px 3px 10px; /*Top Right Bottom Left*/
}

.Boto:hover {
	background-color:#DDD;
}

/* Desactivem el comportament del botó de forma temporal pels mesos de juliol i agost*/
input.Boto:hover {
	/*Quan es passi el ratolí per sobre del botó canviarà el color de fons*/
	background-color:#DDD;
	cursor: pointer;
}

#Separador {
	height:360px;
	width:1px;
	margin-top:20px;
/*	background-color:#B87333;*/
/*	background-color:#BA4324;*/
	-webkit-box-shadow: 0 0 2px #000 /*#BA4324; /*Ombra*/
}