#buttons {
	/*Propietats dels botons*/
    width: 80%;
	height: 35px;
	/*Centrar els botons a sobre la capsa*/
	margin-left: 120px;
	margin-right: 120px;
}

#buttons a{
	/*Propietat de cada botó*/
    font-family: Karla;
    font-size: 15px;
    font-weight: normal;
	font-style:normal;
    text-align: center;
    text-decoration: none;
	color:#CD7F32;
    display: block;
    float: left;
    width: 20%;
    padding-bottom: 10px;
}

#buttons a:hover{
	/*Canvi quan es passa el ratolí per sobre*/
   color:#f78d24;
}

#Linia {
	height:1px;
	width:80%;
	margin-bottom:25px;
	margin-right:auto;
	margin-left:auto;
	background-color:#B87333;
	-webkit-box-shadow: 0 0 1px #F90; /*Ombra*/
}