


/*Classe de la taula amb ombra de l'index*/

#listado_estrenos #destacado .cartel{
	-webkit-box-shadow: 0 0 15px #999;
	-moz-box-shadow: 0 0 15px #999;
	box-shadow: 0 0 15px #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 10px;
	background-color: #EFF6F8;
	border:1px solid #999999;
	height:700px;
	width:700px;
	padding-left:30px;
}

   .labels {
     color: red;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 40px;     
     border: 2px solid black;
     white-space: nowrap;
   }


