<!doctype html>

<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8" />
    <meta name="description" content="description" />
    <meta name="author" content="Carles Capellas" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="<%= asset('css/main.css') %>">
</head>
<body>

    <button id="flip-button" style="position: fixed; top: 30px; left: 30px; z-index: 10;">Flip</button>

    <div id="flipper" class="flipper front-side block">
        <div class="front">

            <div class="box big">
                <div class="box-content">
                    <div class="user-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus eros porttitor, eleifend sem ac, tempus metus. Vivamus euismod, turpis non suscipit ultrices, ligula libero elementum turpis, ac elementum justo sem maximus neque. Aliquam non lacus nunc. Proin placerat orci a rutrum facilisis. Pellentesque purus odio, vestibulum sed pulvinar in, fringilla vel velit. Praesent aliquam lectus ut elit accumsan accumsan. Donec quis feugiat nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent luctus tincidunt posuere. Sed faucibus finibus neque sed congue. Nam mi nunc, sollicitudin vitae imperdiet et, aliquet sed mi. Mauris luctus justo augue, sit amet consequat ligula efficitur nec.
                    </div>
                </div>
            </div>
            <div class="box small">
                <div class="box-content">
                    <div class="user-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus eros porttitor, eleifend sem ac, tempus metus. Vivamus euismod, turpis non suscipit ultrices, ligula libero elementum turpis, ac elementum justo sem maximus neque. Aliquam non lacus nunc. Proin placerat orci a rutrum facilisis.
                    </div>
                </div>
            </div>
            <div class="box small">
                <div class="box-content">
                    <div class="user-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus eros porttitor, eleifend sem ac, tempus metus. Vivamus euismod, turpis non suscipit ultrices, ligula libero elementum turpis, ac elementum justo sem maximus neque. Aliquam non lacus nunc. Proin placerat orci a rutrum facilisis.
                    </div>
                </div>
            </div>
            <div class="box small">
                <div class="box-content">
                    <div class="user-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus eros porttitor, eleifend sem ac, tempus metus. Vivamus euismod, turpis non suscipit ultrices, ligula libero elementum turpis, ac elementum justo sem maximus neque. Aliquam non lacus nunc. Proin placerat orci a rutrum facilisis.
                    </div>
                </div>
            </div>
            <div class="box small">
                <div class="box-content">
                    <div class="user-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus eros porttitor, eleifend sem ac, tempus metus. Vivamus euismod, turpis non suscipit ultrices, ligula libero elementum turpis, ac elementum justo sem maximus neque. Aliquam non lacus nunc. Proin placerat orci a rutrum facilisis.
                    </div>
                </div>
            </div>
            <div class="box medium">
                <div class="box-content">
                    <div class="user-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus eros porttitor, eleifend sem ac, tempus metus. Vivamus euismod, turpis non suscipit ultrices, ligula libero elementum turpis, ac elementum justo sem maximus neque. Aliquam non lacus nunc. Proin placerat orci a rutrum facilisis. Pellentesque purus odio, vestibulum sed pulvinar in, fringilla vel velit. Praesent aliquam lectus ut elit accumsan accumsan.
                    </div>
                </div>
            </div>
            <div class="box small">
                <div class="box-content">
                    <div class="user-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus eros porttitor, eleifend sem ac, tempus metus. Vivamus euismod, turpis non suscipit ultrices, ligula libero elementum turpis, ac elementum justo sem maximus neque. Aliquam non lacus nunc. Proin placerat orci a rutrum facilisis.
                    </div>
                </div>
            </div>
            <div class="box big">
                <div class="box-content">
                    <div class="user-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus eros porttitor, eleifend sem ac, tempus metus. Vivamus euismod, turpis non suscipit ultrices, ligula libero elementum turpis, ac elementum justo sem maximus neque. Aliquam non lacus nunc. Proin placerat orci a rutrum facilisis. Pellentesque purus odio, vestibulum sed pulvinar in, fringilla vel velit. Praesent aliquam lectus ut elit accumsan accumsan. Donec quis feugiat nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent luctus tincidunt posuere. Sed faucibus finibus neque sed congue. Nam mi nunc, sollicitudin vitae imperdiet et, aliquet sed mi. Mauris luctus justo augue, sit amet consequat ligula efficitur nec.
                    </div>
                </div>
            </div>
            <div class="box small">
                <div class="box-content">
                    <div class="user-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus eros porttitor, eleifend sem ac, tempus metus. Vivamus euismod, turpis non suscipit ultrices, ligula libero elementum turpis, ac elementum justo sem maximus neque. Aliquam non lacus nunc. Proin placerat orci a rutrum facilisis.
                    </div>
                </div>
            </div>

        </div>
        <div class="back" style="background-color: skyblue;">
            <h1>Nothing here yet!</h1>
        </div>
    </div>

    <script src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
    <script src="<%= asset('js/binders.js') %>"></script>

    <script>
        document.getElementById('flip-button').onclick = function() {
            flipper.classList.remove('block');
            flipper.classList.toggle('front-side');
            flipper.classList.toggle('back-side');
        };
    </script>
</body>
</html>