
/*----------------------------- GENERIC -----------------------------*/
.body-bg {
	background-image: url(../images/MainBG.jpg);
	background-repeat: repeat;	
}

.main-text {
	color: #fff;
	text-shadow: 1px 1px #000;
}

.secondary-color-bg {
	background-color: #e59400;
	color: #fff;
}

.img-center {
	display: block;
	margin: 0 auto;
}

a.white-a {
	color: #fff;
	cursor: pointer;
}

a.white-a :hover {
	color: #fff;
	text-decoration: underline;
}

a.white-a :focus, :link, :visited {
	color: #fff;
	text-decoration: none;
}

.post-navbar-margin {
	margin-top: 51px;
}

.no-margin {
	margin: 0 !important;	
}

.no-padding {
	padding: 0 !important;
}
.m-bottom-20 {
	margin-bottom: 20px;
}
.margin-horizontal-20 {
	margin-top: 20px;
	margin-bottom: 20px;	
}

.white-bg {
	background-color: #fff;
}

.secondary-button {
	outline: none;
	border: 2px solid #fff;
	border-radius: 5px;
	height: 40px;
	background-color: #e59400;
}

/*----------------------------- CAROUSEL -----------------------------*/
.carousel h2 {
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item {
    background: #333;    
    text-align: center;
    width: 100%;
}
@media (min-width: 768px) {
	.item {
    	height: 250px;
    }
}
.carousel img {
	width: 100%;
}