<div class="row main-text">
	<div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 m-bottom-20">	
		<img src="images/construction.png" class="img-responsive">
	</div>	
	<div class="col-xs-12 text-center text-30">	
		<%= content[0] %>
	</div>	
</div>