<div class="row main-text">
	<div class="col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4 m-bottom-20">	
		<img src="images/attention.png" class="img-responsive">
	</div>	
	<div class="col-xs-12 text-center text-30">	
		<%= content[0] %>
	</div>	
</div>