.container.spaced {
	padding-top: 30px;
	padding-bottom: 30px;
}

.pig-part {
	cursor: pointer;
}

.pig-part:hover {
	fill: #902525;
}

.part-container {
	display: none;
}

body.carles-capellas {
	font-size: 15px;
	color: black;
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.carles-capellas a.navbar-brand,
ul.nav.navbar-nav li.min-width,
a.dropdown-toggle,
.language-icon {
	font-size: 16px;
}

body.carles-capellas a.navbar-brand i,
ul.nav.navbar-nav li.min-width i {
	font-size: 15px;
}

.blur-filter {
	filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='2'%20/></filter></svg>#blur");
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}

.contact-button {
	border-radius: 25px;
	box-shadow: 1px 1px 3px #555;
	cursor: pointer;
	font-size: 30px;
	height: 45px;
	padding: 7px;
	position: fixed;
	right: 25px;
	top: 70px;
	width: 45px;
	z-index: 20;
    transition: all 1s ease;
	-webkit-transition: all 1s ease;
}

.contact-button.opened {
	box-shadow: none;
	font-size: 16px;
	padding-left: 30px;
	padding-top: 3px;
    transition: all 1s ease;
	-webkit-transition: all 1s ease;
}

.contact-button.opened > i {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(-360deg);
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

.contact-container {
    background-color: #fff;
    position: fixed;    
    z-index: 10;
    top: 60px;
    right: 10px;
    left: 10px;
    padding: 10px;
    box-shadow: 0 0 5px #888;
}

@media(min-width: 520px) {
    .contact-container {
        left: inherit;
        width: 480px;
    }
}

.contact-container .row {
	margin-top: 10px;
}

.contact-icon {
	color: #428bca;
}

.contact-icon:hover {
	color: #fff;
}

#curriculum {
	/*background-image: url('../images/backgrounds/paper.jpg');*/
	color: white;
}

.item-description {
	/*border-left: none;*/
	padding-top: 10px;
}

@media(min-width: 768px) {
	.item-description {
		/*border-left: 1px solid #555;*/
		padding-top: 0;
	}
}

/*@media(min-width: 768px) and (max-width: 992px) {
	#home { 
		background-image: url('../images/backgrounds/bcn-sm.jpg');
	}
}*/

.home-title {
	font-size: 50px;
}

.secondary-text,
.secondary-text black-anchor {
	color: #777;
	font-style: italic;
}

.separator {
	height: 1px;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	/*background-color: white;
	box-shadow: 0px 0px 5px #555;*/
}

.transparent {
	opacity: 0.3;
}

.transparent:hover {
	opacity: 1.0;
}

ul.nav.navbar-nav li.min-width {
	min-width: 100px;
}

.home-bg {
	background-image: url('../images/inici.jpg');
	background-size:100%;
}

.product-window {
	margin-top: 30px;
}