.navigation-bar {
	height:auto;
	min-height: 50px;
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	z-index: 1000;
	display: table;
	width: 100%;
}

@media(min-width: 768px) {

	.navigation-bar {
		height: 70px;
		position: absolute;
	}
}

.navigation-left,
.navigation-right {
	display: none;
	height: inherit;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	float: none;
}

@media(min-width: 768px) {

	.navigation-left,
	.navigation-right {
		display: block;
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
	}

	.navigation-left {
		float: left;
	}

	.navigation-right {
		float: right;
	}
}

.navigation-bar.opened .navigation-left,
.navigation-bar.opened .navigation-right {
	display: block;
}

.navigation-small {
	display:table;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	min-height: inherit;
}

@media(min-width: 768px) {
	.navigation-small {
		display:none;
	}
}

#bars-button {
	cursor: pointer;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	width: 35px;
}

#current-tab {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height:100%;
	padding-left: 15px;
}
