.palette-bg-1 {
	background-color: #FFAAAA;
}

.palette-bg-2 {
	background-color: #D46A6A;
}

.palette-bg-3 {
	background-color: #AA3939;
}

.palette-bg-4 {
	background-color: #801515;
}

.palette-text-1 {
	color: #FFAAAA;
}

.palette-text-2 {
	color: #D46A6A;
}

.palette-text-3 {
	color: #AA3939;
}

.palette-text-4 {
	color: #801515;
}