@import 'boxes';
@import 'flipper';
@import 'hamburger-icon';

$scrollBarWidth: 1vw;
$lgBreakpoint: 992px;

::-webkit-scrollbar
{
	width: $scrollBarWidth;
	position: absolute;
}

::-webkit-scrollbar-track
{
	background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb
{
	background: rgba(0, 0, 0, 0.1);
} 

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Teko', sans-serif;
	font-family: 'Amatic SC', cursive;
	font-size: 2em;
}

img {
	max-width: 100%;
}

@include init-boxes-container('.front');
@include boxes-size('.front', $scrollBarWidth, 3vw, 0.5, 0.7, 1); 							// Small devices
@include boxes-size-media('.front', $scrollBarWidth, 2vw, 0.2, 0.3, 0.5, $lgBreakpoint);		// Desktop devices

///////////////////// CUSTOMIZATIONS /////////////////////////

.box-content {
	padding: 10px;
}

.front,
.back {
	box-sizing: border-box;
	padding-bottom: 70px;
}
