$boxes: 120;

@font-face {
  font-family: 'Baloo Bhaina';
  src:
    url('/pull-joke/fonts/BalooBhaina-Regular.ttf');
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
}

.symbol-explosion {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .symbol {
    position: absolute;
    font-size: 35px;
  }

  @for $i from 1 through $boxes {
    $scale: 0.5+random(100)/100;

    @keyframes anim-#{$i} {
      0% {
        top: 50%;
        left: 50%;
        transform: scale($scale,$scale) rotate(0deg);

      }
      100% {
        top: random(100)+%;
        left: random(100)+%;
        transform: scale($scale,$scale) rotate(random(500)+deg);
      }

    }

    .symbol {
      &:nth-child(#{$i}) {
        opacity: 0.5 + random(80)/100;
        transform: scale($scale, $scale);

        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-name: anim-#{$i};
      }
    }
  }
}

@keyframes fade-out-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-out {
  animation-fill-mode: forwards;
  animation-name: fade-out-animation;
  animation-duration: 2s;
}

.aligner {
  height: 100%;
  width: 100vw;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 2em;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation-fill-mode: forwards;
  animation-name: fade-in-animation;
  animation-duration: 2s;
}