@import 'animations';

$buttonSize: 100px;
$symbolSize: 40px;
$parabolasNumber: 50;

@font-face {
  font-family: 'Gloria Hallelujah';
  src: url('/pull-joke/fonts/GloriaHallelujah.ttf');
}

@font-face {
  font-family: 'Indie Flower', cursive;
  src: url('/pull-joke/fonts/IndieFlower.ttf');
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: calc(100%);
  font-family: 'Gloria Hallelujah', sans-serif;
}

.fixed-viewport {
  position: relative;
  overflow: hidden;
  height: calc(100%);
}

.pastel-blue-bg {
  background-color: #779ECB;

  .jokifier {
    background-color: #476E9B;
    color: #97BEEE;
  }

  .symbol {
    color: #476E9B;
  }
}

.pastel-green-bg {
  background-color: #77DD77;

  .jokifier {
    background-color: #47AD47;
    color: #97FD97;
  }

  .symbol {
    color: #47AD47;
  }
}

.pastel-orange-bg {
  background-color: #FFB347;

  .jokifier {
    background-color: #CF8317;
    color: #FFD367;
  }

  .symbol {
    color: #CF8317;
  }
}

.pastel-pink-bg {
  background-color: #DEA5A4;

  .jokifier {
    background-color: #AE7574;
    color: #FEC5C4;
  }

  .symbol {
    color: #AE7574;
  }
}

.pastel-red-bg {
  background-color: #FF6961;

  .jokifier {
    background-color: #CF3931;
    color: #FF8981;
  }

  .symbol {
    color: #CF3931;
  }
}

$jokeSpacing: 15px;

.joke {
  position: relative;
  height: calc(100% - #{$buttonSize / 2 + $jokeSpacing * 2});
  top: -100%;
  overflow: auto;
  color: white;
  padding: 0 $jokeSpacing;
  margin: $jokeSpacing 0;
  display: flex;
  align-items: center;
  font-size: 25px;
}

@include logarithmic-translation(100);

.joke.animate {
  animation: logarithmic-translation 2s;
  animation-fill-mode: forwards;
  -webkit-animation: logarithmic-translation 2s;
  -webkit-animation-fill-mode: forwards;
}

.jokifier {
  position: absolute;
  left: calc(50% - #{$buttonSize / 2});
  bottom: -1 * $buttonSize / 2;
  z-index: 2;
  height: $buttonSize;
  width: $buttonSize;
  border-radius: $buttonSize / 2;
  outline: none;
  border: none;
  font-size: 20px;
  font-family: 'Gloria Hallelujah', sans-serif;

  span {
    position: relative;
    top: -1em;
  }
}

.symbol {
  position: absolute;
  left: calc(50% - #{$symbolSize / 2});
  bottom: -1 * $symbolSize / 2;
  font-size: $symbolSize;
}

@for $i from 1 through $parabolasNumber {
    @include random-parabola($i, -60);
}

.symbol.laugh:after {
    content: "\1F602";
}

.symbol.poo:after {
    content: "\1F4A9";
}

.symbol.wink-tongue:after {
    content: "\1F61C";
}

.symbol.bomb:after {
    content: "\1F4A3";
}

.symbol.boom:after {
    content: "\1F4A5";
}

.symbol.tada:after {
    content: "\1F389";
}

.symbol.halloween:after {
    content: "\1F383";
}

.symbol.dice:after {
    content: "\1F3B2";
}
