@import 'parabola';

$buttonSize: 100px;
$symbolSize: 40px;
$parabolasNumber: 50;

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

.pastel-blue-bg {
  background-color: #779ECB;

  .cover {
    background-color: #476E9B;
    color: #97BEEE;
  }
}

.pastel-green-bg {
  background-color: #77DD77;

  .cover {
    background-color: #47AD47;
    color: #97FD97;
  }
}

.pastel-orange-bg {
  background-color: #FFB347;

  .cover {
    background-color: #CF8317;
    color: #FFD367;
  }
}

.pastel-pink-bg {
  background-color: #DEA5A4;

  .cover {
    background-color: #AE7574;
    color: #FEC5C4;
  }
}

.pastel-red-bg {
  background-color: #FF6961;

  .cover {
    background-color: #CF3931;
    color: #FF8981;
  }
}

.cover {
  position: absolute;
  left: calc(50% - #{$buttonSize / 2});
  top: calc(100% - #{$buttonSize / 2});
  z-index: 2;
  height: $buttonSize;
  width: $buttonSize;
  border-radius: $buttonSize / 2;
  outline: none;
  border: none;
  font-size: 20px;
}

.symbol {
  position: absolute;
  left: calc(50% - #{$symbolSize / 2});
  top: calc(100% - #{$symbolSize / 2});
  font-size: $symbolSize;
}

@for $i from 1 through $parabolasNumber {
    @include random-parabola($i, -60);
}