
/*----------------------------- GENERIC -----------------------------*/

.main-text {
    color: white;
    text-shadow: 1px 1px black;
    text-align: justify;
}

.main-color {
    color: #66A366;
}
.main-color-bg {
    /*background-color: #66A366;*/
	background-color: white;
}

.img-center {
	display: block;
	margin: 0 auto;
}

a.white-a {
	color: #fff;
	cursor: pointer;
}

a.white-a :hover {
	color: #fff;
	text-decoration: underline;
}

a.white-a :focus, :link, :visited {
	color: #fff;
	text-decoration: none;
}

.no-margin {
	margin: 0 !important;	
}

.no-padding {
	padding: 0 !important;
}
.m-top-10 {
    margin-top: 10px;
}
.m-top-30 {
    margin-top: 30px;
}
.m-top-50 {
    margin-top: 50px;
}
.m-bottom-20 {
	margin-bottom: 20px;
}
.m-horizontal-10 {
    margin-top: 10px;
    margin-bottom: 10px;    
}
.margin-horizontal-20 {
	margin-top: 20px;
	margin-bottom: 20px;	
}

.padding-horizontal-10 {
    padding-top: 10px;
    padding-bottom: 10px;    
}

.white-bg {
	background-color: #fff;
}

.vertical-aligner {
    display: table;
    height: 100%;
}

.vertical-aligned {
    display: table-cell;
    vertical-align: middle;
}

.navbar-nav > li > a.icon-anchor {
    padding: 9px;
    cursor: pointer;
}

.navbar-header a.icon-anchor {
    padding: 5px;
    padding-top: 6px;
    margin-right: 5px;
    cursor: pointer;
}

.secondary-button {
	outline: none;
	border: 2px solid #fff;
	border-radius: 5px;
	height: 40px;
	background-color: #e59400;
}

.small-logo {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.medium-logo {
    width: 32px;
    height: 32px;
}

.contact-container {
    background-color: #D8E6D6;
    position: fixed;    
    z-index: 10;
    top: 60px;
    right: 10px;
    left: 10px;
    padding: 10px;
    box-shadow: 0 0 5px #888;
    border-radius: 3px;
}

@media(min-width: 520px) {
    .contact-container {
        left: inherit;
        width: 480px;
    }
}

@media(min-width: 768px) {
    .margin-col {
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }
}

div[class*="col-"] {
    margin-top: 3px;
    margin-bottom: 3px;
}

/*----------------------------- CAROUSEL -----------------------------*/
.carousel h2 {
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item {
    background: #333;    
    text-align: center;
    width: 100%;
}
@media (min-width: 768px) {
	.item {
    	height: 250px;
    }
}
.carousel img {
	width: 100%;
}

/*--------------- PROJECT SPECIFIC ----------------------*/

.navbar-brand.vrokil-brand {
    padding-top: 8px;
    padding-bottom: 8px;
    height: auto;    
}

.navbar.main-color-bg {
    box-shadow: 0 2px 2px lightgrey;
    border: none;
}

div[id*="tab"]:nth-child(odd) {
    background-color: #E9EAF5;
}

div[id*="tab"]:nth-child(even) {
    background-color: #E0E1EF;
}

.parent-filler {
    height: 100%;
    width: 100%;
}

.parent-filler-min {
    min-height: 100%;
    min-width: 100%;
}

.ghost-parent-filler {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-filter {
    background-color: rgba(0,0,0,0.25);
}

.bg-apartment {    
    background-image: url('../images/bg-apartment.jpg');
    background-size: auto 100%;
    background-position: 50%;
    background-repeat: no-repeat;

    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
}

/*This media query depends on the dimensions of the background image*/
@media(min-width: 1050px) {
    .bg-apartment {
        background-position: 0%;
        background-size: 100% auto;
    }
}

.vrokil-title {
    font-size: 70px;
}

.vertical-aligner {
    /*To avoid the navbar to cover part of the section we add a padding to parallax section container*/
    padding-top: 71px;
}

.fa.fa-6 {
    font-size: 6em;
}

.item-container {
    padding-bottom: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;    
}

@media(min-width:992px) {
    .white-container {
        min-height: 400px;
    }
}

body.body-bg {
    font-size: 18px;
}

@media(min-width:768px) {
    body.body-bg {
        font-size: 16px;
    }
}

.navbar a {
    color: black;
}

/*TODO -> Crear fitxer generic i especific*/

.black-text {
    color: black;
}

.black-bg {
    background-color: black;
}

.sectors-separator {
    border-bottom: 1px solid #bbb;
    padding-bottom: 7px;
    margin-bottom: 14px;
}