
	<div class="Header">

		<div class="LeftHeader">

			<center><a href="Images/Logo.png" target="blank"><img src="Images/Logo.png" width="300px"></a></center>

		</div>

		<div class="RightHeader">			

			Fabricats de peces per a la indústria i la ramaderia,&emsp;&emsp;&emsp;&emsp;&emsp;<br/>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;recobriments i polièster en general<br/>

			<ul>
				<!--S'ha de modificar el segon paràmetre de les crides si es modifica l'alçada de cada pestanya-->
				<li onclick="loadTab('Home.html');"><strong>Inici</strong></li>
				<li onclick="loadTab('WhatVertical.html');"><strong>Productes</strong></li>
				<li onclick="loadTab('Contact.html');"><strong>Contacte</strong></li>
			</ul>

		</div>			

	</div>