
<div class="InnerWrapper" style="display: none;" id="Contact">

	<center>

		Telèfon: <strong>93 889 14 10</strong><br/>
		Horari: <strong>Dilluns a Divendres de 08:00-13:00 i 15:15-20:00</strong><br/>
		Adreça: <strong>C/Molí d'en Llobet, 15 - Pol. Ind. Malloles - 08500 Vic</strong><br/><br/>		

		<iframe width="350px" height="300px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=2.2229,41.9240,2.3101,41.9594&amp;layer=mapnik&amp;marker=41.9495016,2.277944400000024" class="imgBox"></iframe>

		<a href="Images/Taller.jpg" target="blank"><img src="Images/Taller.jpg" class="imgBox" width="350px" height="300px"></a>

	</center>

</div>