
<div class="InnerWrapper" style="text-align: justify; display: none;" id="Home">

	<!-- Poliester Germans Pelegrina S.C.P som una empresa dedicada a la fabricació de peces de poliéster i poliuretà fundada el febrer de 1991. Durant els més de 20 anys d'experiència que portem treballant hem fabricat majoritàriament per al sector de la indústria però també hem realitzat encàrrecs a mida per a particulars, adaptant-nos a les necessitats del client. Som l'empresa que busques! Truca i demana pressupost sense compromís.<br/><br/><br/>-->

	Poliester Germans Pelegrina, una empresa fundada per dos socis, va nèxier a Gurb l'any 1991 on va mantenir la seva activitat durant 15 anys. Més tard es va traslladar al poligon industrial Malloles on encara està situada avui en dia. L'empresa es basa en la fabricació de revestiments i manteniment d'estructures de polièster. El seu objectiu és la satisfacció del client.<br/><br/><br/>

	<!-- <div style="width: 100%; height: 210px;">

		<div style="width: 33%; float: left; text-align: center;"><a href="Images/Peces1.png" target="blank"><img class="imgBox" src="Images/Peces1.png" width="95%" height="200px"></a>&emsp;</div>
		<div style="width: 33%; float: left; text-align: center;"><a href="Images/Peces2.jpg" target="blank"><img class="imgBox" src="Images/Peces2.jpg" width="95%" height="200px"></a>&emsp;</div>
		<div style="width: 33%; float: left; text-align: center;"><a href="Images/Peces3.png" target="blank"><img class="imgBox" src="Images/Peces3.png" width="95%" height="200px"></a>&emsp;</div>

	</div> -->

	<div style="width: 100%; height: 210px;">

		<!-- Afegir Javascript per tal que la piscina nova aparegui i desparegui -->

		<div style="width: 50%; float: left; text-align: center;"><a href="Images/Before.jpg" target="blank"><img class="imgBox" src="Images/Before.jpg" width="75%" height="200px"></a>&emsp;</div>
		<div style="width: 50%; float: right; text-align: center;"><a href="Images/After.jpg" target="blank"><img class="imgBox" src="Images/After.jpg" width="75%" height="200px"></a>&emsp;</div>

	</div> 

</div>
