
<div class="InnerWrapper" style="display: none;" id="WhatVertical">	

	<div class="WhatWrapper">

		<div class="banner"><p><strong>Cat&agrave;leg</strong> - La nostra empresa ofereix tres tipus de productes</p></div>

		<div class="WhatElement">

			<div class="WhatContent">

				<center><strong>Recobriments</strong></center><br/>

				<!--Impermeabilitzem sostres de tot tipus d'edificis-->

				Fem recobriments amb fibra de vidre i cautxú de terrats, canals i teulades<br/><br/>

				<a href="Images/Recobriment.jpg" target="blank"><img src="Images/Recobriment.jpg" class="imgBox" width="100%" height="200px"></a>

			</div>

			<div class="GreyLine"></div>

		</div>

		<div class="WhatElement">

			<div class="WhatContent">

				<center><strong>Peces a mida</strong></center><br/>

				Fabricació i manteniment de peces fetes a mida segons encàrrec del client<br/><br/>

				<a href="Images/Banc.jpg" target="blank"><img src="Images/Banc.jpg" class="imgBox" width="100%" height="200px"></a>

			</div>

			<div class="GreyLine"></div>

		</div>	

		<div class="WhatElement">

			<div class="WhatContent">

				<center><strong>Piscines</strong></center><br/>

				Recobriment i manteniment de piscines de fibra i gel. coat.<br/><br/>

				<a href="Images/Piscina.jpg" target="blank"><img src="Images/Piscina.jpg" class="imgBox" width="100%" height="200px"></a>

			</div>			

		</div>		

	</div>	

	<div class="banner GalleryBanner"><p><strong>Galeria</strong> - Aquestes són algunes de les feines que hem fet</p></div>
	<div style="width: 100%; height: 210px;">

		<div style="width: 33%; float: left; text-align: center;"><a href="Images/Peces1.png" target="blank"><img class="imgBox" src="Images/Peces1.png" width="95%" height="200px"></a>&emsp;</div>
		<div style="width: 33%; float: left; text-align: center;"><a href="Images/Peces2.jpg" target="blank"><img class="imgBox" src="Images/Peces2.jpg" width="95%" height="200px"></a>&emsp;</div>
		<div style="width: 33%; float: left; text-align: center;"><a href="Images/Persianes.jpg" target="blank"><img class="imgBox" src="Images/Persianes.jpg" width="95%" height="200px"></a>&emsp;</div>

	</div>

	<div style="width: 100%; height: 210px;">

		<div style="width: 33%; float: left; text-align: center;"><a href="Images/Iglu.jpg" target="blank"><img class="imgBox" src="Images/Iglu.jpg" width="95%" height="200px"></a>&emsp;</div>
		<div style="width: 33%; float: left; text-align: center;"><a href="Images/Peces4.jpg" target="blank"><img class="imgBox" src="Images/Peces4.jpg" width="95%" height="200px"></a>&emsp;</div>
		<div style="width: 33%; float: left; text-align: center;"><a href="Images/Peces5.jpg" target="blank"><img class="imgBox" src="Images/Peces5.jpg" width="95%" height="200px"></a>&emsp;</div>

	</div>

</div>
