
	<div class="Footer">

		<div style="height: 15px"></div>
		C/Molí d'en Llobet, 15 - Pol. Ind. Malloles - 08500 Vic / Telf: 93 889 14 10&emsp;|&emsp;<a target="_blank" href="http://www.carlescapellas.cat"><span style="font-size: 10px;">Dissenyat per Carles Capellas</span></a>

	</div>
