<!doctype html>
<html lang="en">

    <head>
        <title><%= title %></title>
        <meta charset="utf-8" />
        <meta name="description" content="Generic error page for non exsitent Urls" />
        <meta name="author" content="Carles Capellas" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <style>

            * {
                padding: 0;
                margin: 0;
            }

            html, body {
                height: 100%;
                color: #333577;
                background-color: #7F82B2;
            }

            div {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            h1 {
                font-size: 72px;
            }

        </style>
    </head>

    <body>
        <div>
            <center>
                <h1><%= statusCode %></h1>
                <h2><%= message %></h2>
            </center>
        </div>
    </body>
</html>