<div class="row m-bottom-80">
	<div class="col-xs-12 m-bottom-20">
		<h3 class="p-bottom-10" ng-bind-html="section.Title | html" style="border-bottom: 1px solid white;"></h3>
	</div>
	<div class="col-md-4 col-md-push-8">
		<div class="row m-top-30 m-bottom-40">
			<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-6 col-md-offset-3">
				<img class="img-responsive" ng-src="{{imageUrl}}" />			
			</div>
		</div>
	</div>
	<div class="col-md-8 col-md-pull-4">
		<div ng-repeat="item in section.Items" class="main-text text-left">
			<div class="row" ng-class="$index > 0 ? 'm-top-30' : ''">
				<div class="col-sm-6">
					<h4 class="no-margin" ng-bind-html="item.Title | html"></h4>
				</div>
				<div class="item-description col-sm-6">
					<p ng-if="item.Company != undefined" ng-bind-html="item.Company | html"></p>
					<p ng-bind-html="item.Timespan | html"></p>
					<p ng-bind-html="item.Description | html"></p>
				</div>
			</div>
		</div>
	</div>
</div>