<!doctype html>

<html lang="en">
<head>
  <title>Title</title>
  <meta charset="utf-8">
  <meta name="description" content="description">
  <meta name="author" content="author">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="<%= asset('css/main.css') %>" />
</head>

<% var backgroundClasses = ['blue', 'green', 'orange', 'pink', 'red']; %>
<body class="<%= 'pastel-' + backgroundClasses[Math.round(Math.random() * (backgroundClasses.length - 1))] + '-bg' %>">

  <button type="button" class="cover" onclick="startMotion();">Animate</button>

    <% var symbols = ['&#9773;', '&#9850;', '&#20803;', '&#9758;', '&#9815;', '&#9816;'];
    for (var i = 1; i <= 50; ++i) { %>
      <span class="symbol trajectory-<%= i %>">
        <%- symbols[i % symbols.length] %>
      </span>
    <% } %>

  <script type="text/javascript">
	  function startMotion() {
	  	var symbols = Array.from(document.querySelectorAll('.symbol'));
	  	symbols.forEach(symbol => {
	  		symbol.classList.toggle('parabola');
	  	});
	  }
  </script>
</body>
</html>