<!doctype html>

<html lang="en">
<head>
  <title>Title</title>
  <meta charset="utf-8">
  <meta name="description" content="description">
  <meta name="author" content="author">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#999999" />
  <link rel="stylesheet" href="/pull-joke/css/main.css">
</head>

<body>
  
  <div class="symbol-explosion fade-out">
    <% var symbols = ['&#9730;', '&#9728;', '&#9743;', '&#9834;', '&#9993;'];
    for (var i = 0; i < 120; ++i) { %>
      <span class="symbol bg-heart-#{i++}"><%- symbols[i % symbols.length] %></span>
    <% } %>
  </div>

  <div class="aligner">
    <div class="fade-in"><%- joke %></div>
  </div>

</body>
</html>