<!doctype html>

<html lang="en">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="author" content="Carles Capellas" />
    <meta name="description" content="description" />

    <link href="/plugins/bootstrap-3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/font-awesome-4.4.0/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="<%= asset('css/main.css') %>" rel="stylesheet" type="text/css" />
</head>

<body>
	<h1>Template app</h1>
  
    <script src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/plugins/bootstrap-3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="<%= asset('js/app.js') %>" type="text/javascript"></script>
</body>
</html>