<!doctype html>

<html lang="en">
<head>
  <title>Title</title>
  <meta charset="utf-8">
  <meta name="description" content="description">
  <meta name="author" content="author">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#999999" />

  <link rel="stylesheet" href="/template/css/main.css">
</head>

<body>
	<h1>Template app</h1>
  
  <script src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
  <script src="/template/js/scripts1.js"></script>
</body>
</html>