<!doctype html>

<html lang="en">
<head>
    <title>Restricted</title>
    <meta charset="utf-8" />
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="<%= asset('css/main.css') %>" />
</head>

<body>
	<h1>Restricted</h1>

	<% include partials/_menu.ejs %>
</body>
</html>