<!doctype html>

<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8" />
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="<%= asset('css/main.css') %>" />
</head>

<body>
	<% include partials/_header.ejs %>

	<h3>Public elements list</h3>

	<div id="elements-list"></div>
  
  	<% include partials/_footer.ejs %>

    <script type="text/javascript" src="<%= asset('js/elements.js') %>"></script>
</body>
</html>