<!doctype html>

<html lang="en">
<head>
    <title>Restricted</title>
    <meta charset="utf-8" />
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="<%= asset('css/main.css') %>" />
</head>

<body>
	<% include partials/_header.ejs %>

	<a href="/users-template/public">Back to list</a>

	<div id="element-wrapper" data-element-id="<%= publicId %>">
        <div>
            <label>Name:</label>
            <input id="element-name" type="text" />
        </div>
        <div>
            <button type="button" id="action-button">Save</button>
        </div>
    </div>

	<% include partials/_footer.ejs %>

    <script type="text/javascript" src="<%= asset('js/public-edit.js') %>"></script>
</body>
</html>