<!doctype html>

<html lang="en">
<head>
    <title>Unauthorized</title>
    <meta charset="utf-8" />
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
	<h1>Secured</h1>

	<% include partials/_menu.ejs %>

	<br /><br />

	<p>Logged user: <span id="logged-username"><%= (user && user.username) || '-' %></span></p>
</body>
</html>