<!doctype html>

<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8" />
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="<%= asset('css/main.css') %>" />
</head>

<body>
	<% include partials/_header.ejs %>

	<h3>Home</h3>

    <a href="/users-template/public">Public elements list</a>
    <a href="/users-template/restricted">Restricted elements list</a>
  
  	<% include partials/_footer.ejs %>
</body>
</html>