<!doctype html>

<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8" />
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="<%= asset('css/main.css') %>" />
</head>

<body>
	<% include partials/_menu.ejs %>

	<br /><br />

	<div>
		<label>Username</label>
		<input id="username" type="text" value="Cookieman" />
		<label>Password</label>
		<input id="password" type="password" value="unhashed" />
		<button id="log-in" type="button">Log in</button>
	</div>

	<div id="elements-list"></div>
  
    <script src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="<%= asset('js/authentication.js') %>"></script>
    <script type="text/javascript" src="<%= asset('js/elements.js') %>"></script>
</body>
</html>