.box {
	float: left;
}

.box-content {
	position: relative;
	top: 0;
    transition: top 1s cubic-bezier(0,.9,0,.98);
}

.box-content.pushed-down {
    top: 100vh;
}

@mixin init-boxes-container($containerSelector) {
	#{$containerSelector} {
		box-sizing: border-box;
		min-height: 100%;
	}

	#{$containerSelector}::after {
		content: '';
		display: block;
		clear: both;
	}
}

@mixin boxes-size($containerSelector, $spacing, $smallSize, $mediumSize, $bigSize) {
	$viewportWidth: 100vw - $spacing;
	$smallSize: $smallSize * $viewportWidth - $spacing;
	$mediumSize: $mediumSize * $viewportWidth - $spacing;
	$bigSize: $bigSize * $viewportWidth - $spacing;

	#{$containerSelector} {
		padding: $spacing 0 0 $spacing;
	}

	.box {
		margin: 0 $spacing $spacing 0;
	}

	.box.big {
		width: $bigSize;

		.box-content {
			min-height: $bigSize;
		}
	}

	.box.medium {
		width: $mediumSize;

		.box-content {
			min-height: $mediumSize;
		}
	}

	.box.small {
		width: $smallSize;

		.box-content {
			min-height: $smallSize;
		}
	}
}

@mixin boxes-size-media($containerSelector, $spacing, $smallSize, $mediumSize, $bigSize, $breakpoint) {
	@media(min-width: $breakpoint) {
		@include boxes-size($containerSelector, $spacing, $smallSize, $mediumSize, $bigSize);
	}
}
