.ie-blocker {
	display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.ie-blocker {
		position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 3000;
	    background: white;
	    display: block;
	    text-align: center;
	    padding-top: 40vh;
	}

	body *:not([class*='ie-blocker']) {
	    display: none !important;
	}
}