@import 'boxes';

$animationTime: 1.5s;

.flipper-wrapper {
	height: 100%;
	perspective: 5000px;
}

.flipper {
	transform-style: preserve-3d;
	position: relative;
	height: 100%;
}

.flipper.front-side {
	-webkit-animation: flip-back $animationTime;
    -webkit-animation-fill-mode: forwards;
	animation: flip-back $animationTime;
	animation-fill-mode: forwards;
}

.flipper.back-side {
	-webkit-animation: flip $animationTime;
    -webkit-animation-fill-mode: forwards;
	animation: flip $animationTime;
	animation-fill-mode: forwards;
}

.flipper.front-side.block {
	-webkit-animation: none;
	animation: none;
}

.front,
.back {
	width: 100%;
	min-height: 100%;
	position: absolute; /*To make them be at the same position*/
	-webkit-backface-visibility: hidden; /* hide back of pane during swap */
	backface-visibility: hidden;
}

.front {
	transform: rotateY(0deg)  scale(1);
}
.back {
	transform: rotateY(-180deg) scale(1);
}

.flipper.front-side .back,
.flipper.back-side .front {
	height: 0;
	overflow: hidden;
	-webkit-transition: height $animationTime;
	-webkit-transition-delay: $animationTime;
	transition: height $animationTime;
    transition-delay: $animationTime;
}

@mixin flip($revert) {
	$phases: 0, 10, 90, 100;
	@if($revert) {
		$phases: 100, 90, 10, 0;
	}

	#{nth($phases, 1)}% {
	    transform: rotateY(0deg) scale(1);
	}
	#{nth($phases, 2)}% {
	    transform: rotateY(0deg)  scale(0.9);
	}
	#{nth($phases, 3)}% {
	    transform: rotateY(-180deg)  scale(0.9);
	}
	#{nth($phases, 4)}% {
	    transform: rotateY(-180deg)  scale(1);
	}
}

@-webkit-keyframes flip {
	@include flip(false);
}

@keyframes flip {
	@include flip(false);
}

@-webkit-keyframes flip-back {
	@include flip(true);
}

@keyframes flip-back {
	@include flip(true);
}