@import 'boxes';

.flipper {
	transform-style: preserve-3d;
	position: relative;
	height: 100%;
}

.flipper.front-side {
	animation: flip-back 2s;
	animation-fill-mode: forwards;
}

.flipper.back-side {
	animation: flip 2s;
	animation-fill-mode: forwards;
}

.flipper.front-side.block {
	animation: none;
}

.front,
.back {
	width: 100%;
	height: 100%;
	position: absolute; /*To make them be at the same position*/
	backface-visibility: hidden; /* hide back of pane during swap */
}

.front {
	transform: rotateY(0deg)  scale(1);
}
.back {
	transform: rotateY(-180deg) scale(1);
}

@keyframes flip {
	0% {
	    transform: rotateY(0deg) scale(1);
	}
	10% {
	    transform: rotateY(0deg)  scale(0.9);
	}
	90% {
	    transform: rotateY(-180deg)  scale(0.9);
	}
	100% {
	    transform: rotateY(-180deg)  scale(1);
	}
}

@keyframes flip-back {
	100% {
	    transform: rotateY(0deg)  scale(1);
	}
	90% {
	    transform: rotateY(0deg)  scale(0.9);
	}
	10% {
	    transform: rotateY(-180deg)  scale(0.9);
	}
	0% {
	    transform: rotateY(-180deg)  scale(1);
	}
}
