$hamburgerSize: 30px;
$hamburgerColor: black;
$animationDuration: 0.75s;

$lineHeight: $hamburgerSize / 8;
$topOffset: $hamburgerSize / 3;

.hamburguer-wrapper {
	position: fixed;
	bottom: 15px;
	left: 15px;
	z-index: 10;
	border-radius: 50%;
	background-color: white;
	width: $hamburgerSize * 1.75;
	height: $hamburgerSize * 1.75;
	display: flex;
	align-items: center;
    justify-content: center;
    border: $lineHeight solid $hamburgerColor;

	.menu-hamburguer {
		width: $hamburgerSize;
		height: $hamburgerSize;
		transition-duration: $animationDuration;
    	position: relative;

		.icon {
			transition-duration: $animationDuration;
			position: absolute;
			height: $lineHeight;
			width: $hamburgerSize;
			top: $hamburgerSize / 2;
			background-color: $hamburgerColor;

			&:before {
				transition-duration: $animationDuration;
				position: absolute;
				width: $hamburgerSize;
				height: $lineHeight;
				background-color: $hamburgerColor;
				content: '';
				top: -1 * $topOffset;
			}

			&:after {
				transition-duration: $animationDuration;
				position: absolute;
				width: $hamburgerSize;
				height: $lineHeight;
				background-color: $hamburgerColor;
				content: '';
				top: $topOffset;
			}
		}

		&.open {
			.icon {
				transition-duration: $animationDuration;
				transform: rotateZ(180deg);

				&:before {
					transform: rotateZ(45deg) scaleX(0.75) translate(#{$topOffset}, #{-1 * $hamburgerSize / 10});
				}

				&:after {
					transform: rotateZ(-45deg) scaleX(0.75) translate(#{$topOffset}, #{$hamburgerSize / 10});
				}
			}
		}

		&:hover {
			cursor: pointer;
		}
	}
}

