@import 'boxes';

::-webkit-scrollbar {
    width: 0px;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	box-sizing: border-box;
}

//TEMP
.box-content {
	padding: 10px;
	color: darkblue;
	background-color: skyblue;
}