@import 'boxes';
@import 'flipper';

$lgBreakpoint: 992px;

::-webkit-scrollbar {
    width: 0px;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	perspective: 5000px;
}

@include init-boxes-container('.front');
@include boxes-size('.front', 3vw, 0.5, 0.7, 1); 							// Small devices
@include boxes-size-media('.front', 2vw, 0.2, 0.3, 0.5, $lgBreakpoint);		// Desktop devices


//TEMP ---------------------

.box-content {
	padding: 10px;
	color: darkblue;
	background-color: skyblue;
}